{% extends "template.html" %}
{% load i18n %}

{%block title %}Best Own Choice Test Pieces{% endblock %}

{%block keywords %}Best Own Choice Test Pieces{% endblock %}

{%block description %}List of best own choice brass band test pieces{% endblock %}

{%block pieces-ownchoice-selected%}class="selected"{%endblock%}

{%block head %}
<script type="text/javascript">
  $(document).ready(function(){
    $("#pieces").tablesorter({widgets: ['zebra']});
  });
</script>
{% endblock %}

{% block content %}
<div class="container pt-1">
<h1>{% trans "Most Successful Own Choice Test Pieces"%}</h1>
<p>{% trans "Points are calculated by looking through all the times a piece has been used for an own choice contest, and it has come in the top three places.  10 points are given for a first place, 5 for a second, and 3 for a third."%}</p>
<p>{% trans "The Podiums column shows the number of times this piece has featured in the top three at an own choice contest."%}</p>
<p>Whit Friday contests are excluded.</p>
<table id="pieces" class="table table-hover">
  <thead>
    <tr>
      <th>{% trans "Name"%}</th>
      <th>{% trans "Podiums"%}</th>
      <th>{% trans "Points"%}</th>
    </tr>
  </thead>
  <tbody>
{% for piece in Pieces %}
      <tr>
        <td class="test-piece"><a href="/pieces/{{piece.slug}}/">{{piece.name}}</a></td>
        <td>{{piece.count}}</td>
        <td>{{piece.points}}</td>
      </tr>
{% endfor %}
  </tbody>
</table>
</div>
{% endblock %}