anyjson==0.3.3
billiard==3.3.0.23
certifi==2017.7.27.1
chardet==3.0.4
confusable-homoglyphs==3.0.0
Django==1.11.6
django-registration==2.4.1
idna==2.6
kombu==3.0.33
numpy==1.14.0
oauthlib==2.0.4
olefile==0.44
Pillow==4.2.1
postgis==1.0.3
psycopg2==2.7.1
pytz==2017.2
redis==2.10.6
requests==2.18.4
requests-oauthlib==0.8.0
scipy==1.0.0
six==1.11.0
tweepy==3.5.0
urllib3==1.22
vine==1.1.4
