{% extends "template.html" %}
{% load i18n %}

{%block title %}People{% endblock %}

{%block description%}List of people involved in brass bands as conductors, composers, arrangers or adjudicators{%endblock%}

{%block conductors-selected%}class="selected"{%endblock%}

{%block head %}
<script src="https://d3js.org/d3.v3.js" charset="utf-8"></script>
{%endblock%}

{%block scriptfooter%}
<script>
  $(document).ready(function(){
    $("#people").tablesorter();

    $('button.reset').click(function(){
      $('#people').trigger('sortReset');
      return false;
    });
  });
</script>
{% endblock %}

{% block content %}
<div class="container pt-1">
{% if user.profile.pro_member %}
<div class="venn">
<svg width="300" height="300">
  <g>
    <circle cx="80" cy="100" r="80" fill="steelblue" fill-opacity="0.4"></circle>
    <text x="80" y="100" text-anchor="middle">{{VennConductorOnlyCount}}</text>
  </g>
  <g>
    <circle cx="190" cy="100" r="80" fill="red" fill-opacity="0.4"></circle>
    <text x="190" y="100" text-anchor="middle">{{VennAdjudicatorOnlyCount}}</text>
  </g>
  <g>
    <circle cx="135" cy="200" r="80" fill="green" fill-opacity="0.4"></circle>
    <text x="135" y="200" text-anchor="middle">{{VennComposerArrangerOnlyCount}}</text>
  </g>
  <text x="133" y="100" text-anchor="middle">{{VennConductorAdjudicatorCount}}</text>
  <text x="133" y="137" text-anchor="middle">{{VennAllCount}}</text>
  <text x="100" y="155" text-anchor="middle">{{VennConductorComposerCount}}</text>
  <text x="164" y="155" text-anchor="middle">{{VennComposerAdjudicatorCount}}</text>
</svg>
    <div class="float-md-right border rounded border-dark mt-3 p-2">
        <p>Blue circle is {{ConductorsCheck}} Conductors </p>
        <p>Red circle is {{AdjudicatorsCheck}} Adjudicators </p>
        <p>Green circle is {{ComposerArrangerCheck}} Composers/Arrangers </p>
    </div>
</div>
{% endif %}


{% if StartsWith == "ALL" %}
<h1>{% trans "All People"%}</h1>
{% else %}
<h1>{% trans "People starting with"%} {{StartsWith}}</h1>
{% endif %}
<p>{% trans "Showing"%} {{PeopleCount}} {% trans "of"%} {{AllPeopleCount}} {% trans "people"%}</p>
{% if user.profile.enhanced_functionality %}
<p>[<a href="/people/add/">{% trans "Add New Person"%}</a>]</p>
{% endif %}
<p>{% trans "Starts with"%}:
{% if StartsWith == "A" %}<span class="bg-dark text-light rounded p-1">A</span>{%else%}<a href="/people/A/">A</a>{%endif%}
{% if StartsWith == "B" %}<span class="bg-dark text-light rounded p-1">B</span>{%else%}<a href="/people/B/">B</a>{%endif%}
{% if StartsWith == "C" %}<span class="bg-dark text-light rounded p-1">C</span>{%else%}<a href="/people/C/">C</a>{%endif%}
{% if StartsWith == "D" %}<span class="bg-dark text-light rounded p-1">D</span>{%else%}<a href="/people/D/">D</a>{%endif%}
{% if StartsWith == "E" %}<span class="bg-dark text-light rounded p-1">E</span>{%else%}<a href="/people/E/">E</a>{%endif%}
{% if StartsWith == "F" %}<span class="bg-dark text-light rounded p-1">F</span>{%else%}<a href="/people/F/">F</a>{%endif%}
{% if StartsWith == "G" %}<span class="bg-dark text-light rounded p-1">G</span>{%else%}<a href="/people/G/">G</a>{%endif%}
{% if StartsWith == "H" %}<span class="bg-dark text-light rounded p-1">H</span>{%else%}<a href="/people/H/">H</a>{%endif%}
{% if StartsWith == "I" %}<span class="bg-dark text-light rounded p-1">I</span>{%else%}<a href="/people/I/">I</a>{%endif%}
{% if StartsWith == "J" %}<span class="bg-dark text-light rounded p-1">J</span>{%else%}<a href="/people/J/">J</a>{%endif%}
{% if StartsWith == "K" %}<span class="bg-dark text-light rounded p-1">K</span>{%else%}<a href="/people/K/">K</a>{%endif%}
{% if StartsWith == "L" %}<span class="bg-dark text-light rounded p-1">L</span>{%else%}<a href="/people/L/">L</a>{%endif%}
{% if StartsWith == "M" %}<span class="bg-dark text-light rounded p-1">M</span>{%else%}<a href="/people/M/">M</a>{%endif%}
{% if StartsWith == "N" %}<span class="bg-dark text-light rounded p-1">N</span>{%else%}<a href="/people/N/">N</a>{%endif%}
{% if StartsWith == "O" %}<span class="bg-dark text-light rounded p-1">O</span>{%else%}<a href="/people/O/">O</a>{%endif%}
{% if StartsWith == "P" %}<span class="bg-dark text-light rounded p-1">P</span>{%else%}<a href="/people/P/">P</a>{%endif%}
{% if StartsWith == "Q" %}<span class="bg-dark text-light rounded p-1">Q</span>{%else%}<a href="/people/Q/">Q</a>{%endif%}
{% if StartsWith == "R" %}<span class="bg-dark text-light rounded p-1">R</span>{%else%}<a href="/people/R/">R</a>{%endif%}
{% if StartsWith == "S" %}<span class="bg-dark text-light rounded p-1">S</span>{%else%}<a href="/people/S/">S</a>{%endif%}
{% if StartsWith == "T" %}<span class="bg-dark text-light rounded p-1">T</span>{%else%}<a href="/people/T/">T</a>{%endif%}
{% if StartsWith == "U" %}<span class="bg-dark text-light rounded p-1">U</span>{%else%}<a href="/people/U/">U</a>{%endif%}
{% if StartsWith == "V" %}<span class="bg-dark text-light rounded p-1">V</span>{%else%}<a href="/people/V/">V</a>{%endif%}
{% if StartsWith == "W" %}<span class="bg-dark text-light rounded p-1">W</span>{%else%}<a href="/people/W/">W</a>{%endif%}
{% if StartsWith == "X" %}<span class="bg-dark text-light rounded p-1">X</span>{%else%}<a href="/people/X/">X</a>{%endif%}
{% if StartsWith == "Y" %}<span class="bg-dark text-light rounded p-1">Y</span>{%else%}<a href="/people/Y/">Y</a>{%endif%}
{% if StartsWith == "Z" %}<span class="bg-dark text-light rounded p-1">Z</span>{%else%}<a href="/people/Z/">Z</a>{%endif%}
{% if request.user.profile.pro_member %}
{% if StartsWith == "ALL" %}<span class="bg-dark text-light rounded p-1">Show All</span>{%else%}<a href="/people/ALL/">{% trans "Show All"%}</a>{%endif%}
{% if StartsWith == "NOTHING" %}<span class="bg-dark text-light rounded p-1">Nothing</span>{%else%}<a href="/people/NOTHING/">{% trans "Did Nothing"%}</a>{%endif%}
{% endif %}
</p>
<button class="reset btn btn-outline-primary btn-sm float-right mb-1">Reset Sort</button>
<table id="people" class="table table-hover">
	<thead>
		<tr>
			<th>{% trans "Name"%}</th>
			<th>{% trans "Conducting"%}</th>
			{% if user.profile.pro_member %}<th>{% trans "Withdrawals"%}</th>{% endif %}
			<th>{% trans "Adjudications"%}</th>
			<th>{% trans "Compositions"%}</th>
			<th>{% trans "Arrangements"%}</th>
{% if user.is_staff and StartsWith == 'NOTHING' %}
		    <th></th>
{% endif %}			
		</tr>
	</thead>
	<tbody>
{% for person in People %}
 		<tr>
 			<td class="person"><a href="/people/{{person.slug}}/">{{person.surname}}, {{person.first_names}}</a>{% if person.bandname %} ({{person.bandname}}){%endif%}</td>
			<td>{% if user.profile.pro_member %}{{person.conducting_count}}{% else %}<a href="/accounts/upgrade/">pro</a>{% endif %}</td>
			{% if user.profile.pro_member %}<td>{{person.withdrawn_count}}</td>{% endif %}
			<td>{{person.adjudications_count}}</td>
			<td>{{person.composition_count}}</td>
			<td>{{person.arrangement_count}}</td>
{% if user.is_staff and StartsWith == 'NOTHING' %}
		    <td>[<a href="/bbradmin/people/person/{{person.id}}/delete/">delete</a>]</td>
{% endif %}						
		</tr>
{% endfor %}
	</tbody>
</table>
<p>{% trans "Starts with"%}: 
{% if StartsWith == "A" %}<span class="bg-dark text-light rounded p-1">A</span>{%else%}<a href="/people/A/">A</a>{%endif%}
{% if StartsWith == "B" %}<span class="bg-dark text-light rounded p-1">B</span>{%else%}<a href="/people/B/">B</a>{%endif%}
{% if StartsWith == "C" %}<span class="bg-dark text-light rounded p-1">C</span>{%else%}<a href="/people/C/">C</a>{%endif%}
{% if StartsWith == "D" %}<span class="bg-dark text-light rounded p-1">D</span>{%else%}<a href="/people/D/">D</a>{%endif%}
{% if StartsWith == "E" %}<span class="bg-dark text-light rounded p-1">E</span>{%else%}<a href="/people/E/">E</a>{%endif%}
{% if StartsWith == "F" %}<span class="bg-dark text-light rounded p-1">F</span>{%else%}<a href="/people/F/">F</a>{%endif%}
{% if StartsWith == "G" %}<span class="bg-dark text-light rounded p-1">G</span>{%else%}<a href="/people/G/">G</a>{%endif%}
{% if StartsWith == "H" %}<span class="bg-dark text-light rounded p-1">H</span>{%else%}<a href="/people/H/">H</a>{%endif%}
{% if StartsWith == "I" %}<span class="bg-dark text-light rounded p-1">I</span>{%else%}<a href="/people/I/">I</a>{%endif%}
{% if StartsWith == "J" %}<span class="bg-dark text-light rounded p-1">J</span>{%else%}<a href="/people/J/">J</a>{%endif%}
{% if StartsWith == "K" %}<span class="bg-dark text-light rounded p-1">K</span>{%else%}<a href="/people/K/">K</a>{%endif%}
{% if StartsWith == "L" %}<span class="bg-dark text-light rounded p-1">L</span>{%else%}<a href="/people/L/">L</a>{%endif%}
{% if StartsWith == "M" %}<span class="bg-dark text-light rounded p-1">M</span>{%else%}<a href="/people/M/">M</a>{%endif%}
{% if StartsWith == "N" %}<span class="bg-dark text-light rounded p-1">N</span>{%else%}<a href="/people/N/">N</a>{%endif%}
{% if StartsWith == "O" %}<span class="bg-dark text-light rounded p-1">O</span>{%else%}<a href="/people/O/">O</a>{%endif%}
{% if StartsWith == "P" %}<span class="bg-dark text-light rounded p-1">P</span>{%else%}<a href="/people/P/">P</a>{%endif%}
{% if StartsWith == "Q" %}<span class="bg-dark text-light rounded p-1">Q</span>{%else%}<a href="/people/Q/">Q</a>{%endif%}
{% if StartsWith == "R" %}<span class="bg-dark text-light rounded p-1">R</span>{%else%}<a href="/people/R/">R</a>{%endif%}
{% if StartsWith == "S" %}<span class="bg-dark text-light rounded p-1">S</span>{%else%}<a href="/people/S/">S</a>{%endif%}
{% if StartsWith == "T" %}<span class="bg-dark text-light rounded p-1">T</span>{%else%}<a href="/people/T/">T</a>{%endif%}
{% if StartsWith == "U" %}<span class="bg-dark text-light rounded p-1">U</span>{%else%}<a href="/people/U/">U</a>{%endif%}
{% if StartsWith == "V" %}<span class="bg-dark text-light rounded p-1">V</span>{%else%}<a href="/people/V/">V</a>{%endif%}
{% if StartsWith == "W" %}<span class="bg-dark text-light rounded p-1">W</span>{%else%}<a href="/people/W/">W</a>{%endif%}
{% if StartsWith == "X" %}<span class="bg-dark text-light rounded p-1">X</span>{%else%}<a href="/people/X/">X</a>{%endif%}
{% if StartsWith == "Y" %}<span class="bg-dark text-light rounded p-1">Y</span>{%else%}<a href="/people/Y/">Y</a>{%endif%}
{% if StartsWith == "Z" %}<span class="bg-dark text-light rounded p-1">Z</span>{%else%}<a href="/people/Z/">Z</a>{%endif%}
{% if request.user.profile.pro_member %}
{% if StartsWith == "ALL" %}<span class="bg-dark text-light rounded p-1">Show All</span>{%else%}<a href="/people/ALL/">{% trans "Show All"%}</a>{%endif%}
{% if StartsWith == "NOTHING" %}<span class="bg-dark text-light rounded p-1">Nothing</span>{%else%}<a href="/people/NOTHING/">{% trans "Did Nothing"%}</a>{%endif%}
{% endif %}
</p>
</div>
{% endblock %}