{% extends "template.html" %}
{% load humanize %}
{% load i18n %}

{%block title %}{{Person.name}} - Person Aliases{% endblock %}

{%block keywords %}Person {{Person.name}}{% endblock %}

{%block description%}Details about the brass band person {{Person.name}}{%endblock%}


{% block content %}
<div class="container pt-1">
<h1 class="person"><a href="/people/{{Person.slug}}/">{{Person.name}}</a> {% trans "Aliases"%}
</h1>
<form action="." method="post">{% csrf_token %}
<table id="aliases" class="table table-hover">
<thead>
 <tr>
  <th>{% trans "Alias Name"%}</th>
  <th>{% trans "Hidden"%}</th>
  <th>
 </tr>
</thead>
<tbody>
{%for alias in Aliases%}
 <tr>
  <td>{{alias.name}}</td>
  <td>{{alias.hidden}}</td>
  <td>[<a href="/people/{{Person.slug}}/aliases/{{alias.id}}/delete/">{% trans "delete"%}</a>]
{% if alias.hidden %}
  [<a href="/people/{{Person.slug}}/aliases/{{alias.id}}/show/">{% trans "show"%}</a>]
{% else %}
  [<a href="/people/{{Person.slug}}/aliases/{{alias.id}}/hide/">{% trans "hide"%}</a>]</td>
{% endif %}
    </td>
 </tr>
{%endfor%}
</tbody>
<tfoot>
  <tr>
    <td colspan="3"><input type="text" name="new_alias_name"/> <input type="submit" value="{% trans "Save New Alias"%}"/></td>
  </tr>
</tfoot>
</table>
</form>
</div>
{% endblock %}
