{% extends "template.html" %}
{% load i18n %}

{%block title %}Compare Bands{% endblock %}

{%block keywords %}Compare Bands{% endblock %}

{%block description%}Compare the results of two bands{%endblock%}

{%block bands-compare-selected%}class="selected"{%endblock%}

{% block content %}
<div class="container pt-1">
<h1>{% trans "Compare Bands"%}</h1>
<p>{% trans "Select the two bands to compare below"%}:</p>
<form action="." method="post">{% csrf_token %}
<table>
  <tr>
    <th>{% trans "First band"%}:</th>
    <td>{{BandOne.name}}<input type="hidden" name="first_band" value="{{BandOne.slug}}"></td>
  </tr>
  <tr>
    <th>{% trans "Second band"%}:</th>
    <td>
      <select name="second_band">
{% for band in Bands %}
        <option value="{{band.slug}}">{{band.name}}</option>
{% endfor %}
      </select>
    </td>
  </tr>
</table>
<br/>
<input type="submit" value="{% trans "Compare"%}"></input>
</form>
</div>
{% endblock %}