{% extends "template.html" %}

{% block title %}Forgotten Password{% endblock %}

{% block head %}
<script type="text/javascript">
  $(document).ready(function(){
    $("input:text:first").focus();
  });
</script>
{% endblock %}

{% block content %}
<div class="container pt-1">
<h1>Forgotten Password</h1>
<p>Please enter your username or the email address of your account below. 
The registered email for your account will be sent a link which will allow you to reset your password.</p>
<form action="" method="post">{% csrf_token %}
  <table>
  {{ form.as_table }}
  </table>
  <p><input type="submit" value="Reset Password" /></p>
</form>
</div>
{% endblock %}

{%block feedback %}{% endblock %}

{% block adbar %}{% endblock %}

{% block adbarBottom %}{% endblock %}