home_ip = "12.34.56.78"
work_ip = "23.45.56.67"
ec2_private_key = "~/bbr-london.pem"
web_ssh_password = "WebPassword964523"
db_password = "DatabasePassword947362"
db_password_bbr = "BbrUserPassword78678"
google_maps_key = "ABC123"
django_secret_key = "123ABC"