{% extends "template.html" %}

{% block title %}Contest - Add Results{% endblock %}

{%block add-results-selected%}class="selected"{%endblock%}

{% block content %}
<div class="container pt-1">
<h1>Whit Friday</h1>
<p>The contest {{Contest.name}} is part of the Whit Friday group.  Whit Friday results can't be entered through this form but must be entered using a special page.  Experienced users have access to create Whit Friday using a link in the Add section on the menu.</p>
<p>Apologies for any inconvenience caused.</p> 
</div>
{% endblock %}