{% extends "template.html" %}
{% load bbrize %}

{%block title %}{{Composer.name}} - Composer{% endblock %}

{%block keywords %}Conductor {{Composer.name}}{% endblock %}

{%block description%}Details about the brass band composer {{Composer.name}}{%endblock%}

{% block adbar %}<br/>{% endblock %}
{% block adbarBottom %}<br/>{% endblock %}

{%block composers-selected%}class="selected"{%endblock%}

{%block head %}
<script type="text/javascript">
  $(document).ready(function(){
	$("#contests").tablesorter({headers:{0: {sorter: 'dayMonthYear'} }, widgets: ['zebra']});
  $("#whitfriday").tablesorter({headers:{0: {sorter: 'dayMonthYear'} }, widgets: ['zebra']});
  $("#adjudications").tablesorter({headers:{0: {sorter: 'dayMonthYear'} }, widgets: ['zebra']});
  $("#pieces").tablesorter({widgets: ['zebra']});
    
{% if ShowTabs %}    
	$("#tabs").tabs();
{% endif %}

  });  
</script>
{% endblock %}

{% block content %}
<h1 class="composer">{% if Profile.title %} {{Profile.title}} {%endif%}{{Composer.name}} <span id="postfix_letters">{{Profile.qualifications}}</span>
{% if ShowEdit %} [<a href="/composer/edit/{{Composer.slug}}/" title="Edit this composer's details">edit</a>]{%endif%}
{% if user.is_staff and perms.pieces.change_composer and perms.classifieds.change_classifiedprofile %} [<a href="/bbradmin/pieces/composer/{{Composer.id}}/" title="Edit this composer in the admin site">admin</a>]
                       [<a href="/bbradmin/classifieds/classifiedprofile/{{Profile.id}}/">admin classified</a>]
{% endif %}
</h1>
{% if Profile.picture %}<img src="{{Profile.picture.url_200x200}}" id="ProfileImage"/>{% endif %}
<table>
  {% if Profile.email %}<tr><th>Email:</th><td><script type="text/javascript"><!--
              var name='{{Profile.email_mailbox}}';
              var domain='{{Profile.email_domain}}';
              var addy=name+'@'+domain;
              document.write('<'+'a href="mailto:'+addy+'">'+addy+'<'+'/a'+'>'); //-->
              </script></td></tr> {%endif%}
  {% if Profile.website %}<tr><th>Website:</th><td><a href="{{Profile.website}}">{{Profile.website}}</a></td></tr>{%endif%}
  {% if Profile.address %}<tr><th>Address:</th><td>{{Profile.address|linebreaksbr}}</td></tr>{%endif%}
  {% if Profile.home_phone %}<tr><th>Telephone:</th><td>{{Profile.home_phone}}</td></tr>{%endif%}
  {% if Profile.mobile_phone %}<tr><th>Mobile:</th><td>{{Profile.mobile_phone}}</td></tr>{%endif%}
</table>
<p>[<a href="#results">Jump to results</a>]</p>
<p>{{Profile.profile|linebreaksbr|bbrize}}</p>
<a name="results">&nbsp;</a>

{% if ShowTabs %}
<div id="tabs">
    <ul class="screenonly">
{% if Composer %}        
        <li><a href="#composer-tab">Compositions</a></li>
{% endif %}
{% if Adjudicator %}
        <li><a href="#adjudicator-tab">Adjudications</a></li>
{% endif %}        
{% if ContestResults %}
        <li><a href="#contests-tab">Results</a></li>
{% endif %}
{% if WhitFridayResults %}        
        <li><a href="#whitfriday-tab">Whit Friday</a></li>
{% endif %}
    </ul>
{% endif %}

{% if Adjudicator %}
  {% include "classifieds/sections/adjudications.htm" %}
{% endif %}

{% if ContestResults %}
  {% include "classifieds/sections/results.htm" %}
{% endif %}

{% if WhitFridayResults %}
  {% include "classifieds/sections/whitfriday.htm" %}
{% endif %}

{% if Composer %}
  {% include "classifieds/sections/compositions.htm" %}
{% endif %}

{% if ShowTabs %}
</div> <!-- tab div -->
{% endif %}
{% endblock %}