{% extends "template.html" %}
{% load humanize %}
{% load bbrize %}
{% load i18n %}

{%block title %}{{Conductor.name}} - Conductor{% endblock %}

{%block keywords %}Conductor {{Conductor.name}}{% endblock %}

{%block description%}Details about the brass band conductor {{Conductor.name}}{%endblock%}

{% block adbar %}<br/>{% endblock %}
{% block adbarBottom %}<br/>{% endblock %}

{%block conductors-selected%}class="selected"{%endblock%}

{%block head %}
<script type="text/javascript">
  $(document).ready(function(){
	$("#contests").tablesorter({headers:{0: {sorter: 'dayMonthYear'} }, widgets: ['zebra']});
  $("#whitfriday").tablesorter({headers:{0: {sorter: 'dayMonthYear'} }, widgets: ['zebra']});
  $("#adjudications").tablesorter({headers:{0: {sorter: 'dayMonthYear'} }, widgets: ['zebra']});
  $("#pieces").tablesorter({widgets: ['zebra']});
    
{% if ShowTabs %}    
	$("#tabs").tabs();
{% endif %}

{% if ResultsWithPosition > 0 %}
{% if Wins > 0 or TopSixNotWin > 0 %}    
   var lPieData = [
    { label: "Wins", data: {{Wins}}, color: "#ffc600" },  
    { label: "Top Six", data: {{TopSixNotWin}}, color: "#99ccff" },
    { label: "Unplaced", data: {{Unplaced}}, color: "#316497" }
    ];
	$.plot($("#flot_pie"), lPieData,
    {
      series: {
        pie: {
          show: true,
          label: {
            formatter: function(label, series){
              return '<div style="font-size:8pt;text-align:center;padding:2px;color:black;">'+label+'<br/>'+series.data[0][1]+" (" +Math.round(series.percent)+'%)</div>';
            }
          }
        }
      },
      legend: {
          show: false
      }
	});
{% endif %}  
{% endif %}
  });  
</script>
{% endblock %}

{% block content %}
<h1 class="conductor">{% if Profile.title %} {{Profile.title}} {%endif%}{{Conductor.name}} <span id="postfix_letters">{{Profile.qualifications}}</span>
{% if Filter %}
<p class="filter_notify">{% trans "This view of the conductor's results is filtered to"%} <b>{{FilteredTo.name}}</b>.  [<a href="/conductors/{{Conductor.slug}}/">{% trans "Remove Filter"%}</a>].</p>
{% endif %}
{% if ShowEdit %} [<a href="/conductors/edit/{{Conductor.slug}}/" title="Edit this conductor's details">edit</a>]{%endif%}
{% if user.profile.superuser %} [<a href="/conductors/{{Conductor.slug}}/aliases/" title="Edit conductor aliases">aliases</a>]{% endif %}
{% if user.is_staff  and perms.conductors.change_conductor and perms.classifieds.change_classifiedprofile %} [<a href="/bbradmin/conductors/conductor/{{Conductor.id}}/" title="Edit this conductor in the admin site">admin</a>]
                       [<a href="/bbradmin/classifieds/classifiedprofile/{{Profile.id}}/">admin classified</a>]
{% endif %}
</h1>
{% if Profile.picture %}<img src="{{Profile.picture.url_200x200}}" id="ProfileImage"/>{% endif %}
<table>
  {% if Profile.email %}<tr><th>Email:</th><td><script type="text/javascript"><!--
              var name='{{Profile.email_mailbox}}';
              var domain='{{Profile.email_domain}}';
              var addy=name+'@'+domain;
              document.write('<'+'a href="mailto:'+addy+'">'+addy+'<'+'/a'+'>'); //-->
              </script></td></tr> {%endif%}
  {% if Profile.website %}<tr><th>Website:</th><td><a href="{{Profile.website}}">{{Profile.website}}</a></td></tr>{%endif%}
  {% if Profile.address %}<tr><th>Address:</th><td>{{Profile.address|linebreaksbr}}</td></tr>{%endif%}
  {% if Profile.home_phone %}<tr><th>Telephone:</th><td>{{Profile.home_phone}}</td></tr>{%endif%}
  {% if Profile.mobile_phone %}<tr><th>Mobile:</th><td>{{Profile.mobile_phone}}</td></tr>{%endif%}
</table>
<p>[<a href="#results">Jump to results</a>]</p>
<p>{{Profile.profile|linebreaksbr|bbrize}}</p>
<a name="results">&nbsp;</a>
{% if ContestResults %}
<div id="flot_pie"></div>
<h2>Historical Results</h2>
{% if Filter %}
<p class="filter_notify">{% trans "This view of the conductor's results is filtered to"%} <b>{{FilteredTo.name}}</b>.  [<a href="/conductors/{{Conductor.slug}}/">{% trans "Remove Filter"%}</a>].</p>
{% endif %}
<p>{{Conductor.results_count}} results since {{Conductor.earliest_result.contest_event.date_of_event|date:"Y"}}, including {{Conductor.wins_count}} wins, {{Conductor.seconds_count}} second places and {{Conductor.thirds_count}} third places.</p>
<div id="flot_chart"></div>
{% endif %}
<h2 class="screenonly">Contest Results</h2>
{% if Filter %}
<p class="filter_notify">{% trans "This view of the conductor's results is filtered to"%} <b>{{FilteredTo.name}}</b>.  [<a href="/conductors/{{Conductor.slug}}/">{% trans "Remove Filter"%}</a>].</p>
{% endif %}
<p><strong>Date Range (use slider to change):</strong> <span id="slider-amount"></span></p>
<div id="slider-range"></div>
<p class="screenonly">[<a class="hide_highlights">Hide Gold/Silver/Bronze Highlight</a>]</p>
{% if ShowTabs %}
<div id="tabs">
    <ul class="screenonly">
{% if ContestResults %}
        <li><a href="#contests-tab">Results</a></li>
{% endif %}
{% if WhitFridayResults %}        
        <li><a href="#whitfriday-tab">Whit Friday</a></li>
{% endif %}
{% if Adjudicator %}
        <li><a href="#adjudicator-tab">Adjudications</a></li>
{% endif %}    
{% if Composer %}        
        <li><a href="#composer-tab">Compositions</a></li>
{% endif %}    
    </ul>
{% endif %}

{% if Adjudicator %}
  {% include "classifieds/sections/adjudications.htm" %}
{% endif %}

{% if ContestResults %}
  {% include "classifieds/sections/results.htm" %}
{% endif %}

{% if WhitFridayResults %}
  {% include "classifieds/sections/whitfriday.htm" %}
{% endif %}

{% if Composer %}
  {% include "classifieds/sections/compositions.htm" %}
{% endif %}

{% if ShowTabs %}
</div> <!-- tab div -->
{% endif %}
<p class="screenonly">[<a class="hide_highlights">Hide Gold/Silver/Bronze Highlight</a>]</p>
{% endblock %}

{% block scriptfooter %}
<script type="text/javascript">
	$(document).on('click', '.hide_highlights', function(){
		$('.tablesorter tr.result-1').addClass('result-off-1').removeClass('result-1');
		$('.tablesorter tr.result-2').addClass('result-off-2').removeClass('result-2');
		$('.tablesorter tr.result-3').addClass('result-off-3').removeClass('result-3');
		$('.hide_highlights').removeClass('hide_highlights').addClass('show_highlights').html('Show Gold/Silver/Bronze Highlight');
	});
	$(document).on('click', '.show_highlights', function(){
		$('.tablesorter tr.result-off-1').addClass('result-1').removeClass('result-off-1');
		$('.tablesorter tr.result-off-2').addClass('result-2').removeClass('result-off-2');
		$('.tablesorter tr.result-off-3').addClass('result-3').removeClass('result-off-3');
		$('.show_highlights').removeClass('show_highlights').addClass('hide_highlights').html('Hide Gold/Silver/Bronze Highlight');
	});
$("#slider-range").slider({
  range: true,
  min: {{FirstResultYear}},
  max: {{LastResultYear}},
  values: [ {{FirstResultYear}}, {{LastResultYear}} ],
  slide: function( event, ui ) {
    $("#slider-amount").html(ui.values[0] + " - " + ui.values[1]);
    for (var i={{FirstResultYear}};i<={{LastResultYear}};i++){
      $('.year-' + i).show();
      if (i < ui.values[0])
      {
        $('.year-' + i).hide();
      }
      if (i > ui.values[1])
      {
        $('.year-' + i).hide();
      }
    }
    
    var lFromDate = new Date(ui.values[0] + '/1/1');
    var lToDate = new Date(ui.values[1] + '/12/31');
    plot = $.plot($("#flot_chart"), lFlotData, $.extend(true, {}, lFlotOptions, {
        xaxis: { min: lFromDate, max: lToDate }
    }));
  }
});
$("#slider-amount").html($("#slider-range").slider("values", 0) + " - " + $("#slider-range").slider("values", 1));

function toggleFilter(pResultId){
    $('.tags-'+pResultId).toggle("slow");
}

{% if ResultsWithPosition > 1 %}  

var lFlotData = [ 
  {
    label: "lines",
    lines:  { show: true },
    color: '#99ccff',
    hoverable: true, 
    clickable: false,
    data: [
{% for result in ContestResults %}{% if result.results_position < 27 %}[new Date("{{result.contest_event.date_of_event|date:"Y/m/d"}}"), {{result.results_position}}],{% endif %}{% endfor %}
    ] 
  },
  {
    label: [
{% for result in ContestResults %}{% if result.results_position < 27 and result.results_position > 3 %}["{{result.contest_event.event_date}}<br/>{{result.contest_event.contest.name}},<br/>{{ result.results_position|ordinal }} {% if result.bands_competing%}of {{result.bands_competing}}{%endif%}<br/>{{result.conductor.name}}"],{% endif %}{% endfor %}
    ],
    points: { show: true, fillColor: "#3d7dbd" },
    color: '#3d7dbd',
    hoverable: true, 
    clickable: false,
    data: [
{% for result in ContestResults %}{% if result.results_position < 27 and result.results_position > 3 %}[new Date("{{result.contest_event.date_of_event|date:"Y/m/d"}}"), {{result.results_position}}],{% endif %}{% endfor %}
    ] 
  },
  {
    label: [
{% for result in ContestResults %}{% if result.results_position == 1 %}["{{result.contest_event.event_date}}<br/>{{result.contest_event.contest.name}},<br/>{{ result.results_position|ordinal }} {% if result.bands_competing%}of {{result.bands_competing}}{%endif%}<br/>{{result.conductor.name}}"],{% endif %}{% endfor %}
    ],
    points: { show: true, fillColor: "#ffc600" },
    color: '#ffc600',
    hoverable: true, 
    clickable: false,
    data: [
{% for result in ContestResults %}{% if result.results_position == 1 %}[new Date("{{result.contest_event.date_of_event|date:"Y/m/d"}}"), {{result.results_position}}],{% endif %}{% endfor %}
    ] 
  },
  {
    label: [
{% for result in ContestResults %}{% if result.results_position == 2 %}["{{result.contest_event.event_date}}<br/>{{result.contest_event.contest.name}},<br/>{{ result.results_position|ordinal }} {% if result.bands_competing%}of {{result.bands_competing}}{%endif%}<br/>{{result.conductor.name}}"],{% endif %}{% endfor %}
    ],
    points: { show: true, fillColor: "#919191" },
    color: '#919191',
    hoverable: true, 
    clickable: false,
    data: [
{% for result in ContestResults %}{% if result.results_position == 2 %}[new Date("{{result.contest_event.date_of_event|date:"Y/m/d"}}"), {{result.results_position}}],{% endif %}{% endfor %}
    ] 
  },
  {
    label: [
{% for result in ContestResults %}{% if result.results_position == 3 %}["{{result.contest_event.event_date}}<br/>{{result.contest_event.contest.name}},<br/>{{ result.results_position|ordinal }} {% if result.bands_competing%}of {{result.bands_competing}}{%endif%}<br/>{{result.conductor.name}}"],{% endif %}{% endfor %}    
    ],
    points: { show: true, fillColor: "#7a6e55" },
    color: '#7a6e55',
    hoverable: true, 
    clickable: false,
    data: [
{% for result in ContestResults %}{% if result.results_position == 3 %}[new Date("{{result.contest_event.date_of_event|date:"Y/m/d"}}"), {{result.results_position}}],{% endif %}{% endfor %}
    ] 
  }
  ];

var lFlotOptions = { 
                grid: {
                          hoverable: true, 
                          clickable: false,
                          autoHighlight: true,
                          borderWidth: 0
                },
                legend: {
                           show: false
                        },
                yaxis: {
                           transform: function (v) { return -v; },
                           inverseTransform: function (v) { return -v; },
                           max: 26,
                           ticks: [1, 5, 10, 15, 20, 25],
                           color: "#000000"
                     },
                xaxis: { 
                           mode: "time",
                           color: "#000000"
                    }
                      };
                 
                 
var plot = $.plot($("#flot_chart"), lFlotData, lFlotOptions);

function showTooltip(x, y, contents) {
  $('<div id="flot_chart_tooltip">' + contents + '</div>').css( {
    top: y + 5,
    left: x + 5,
  }).appendTo("body").fadeIn(200);
}


$("#flot_chart").bind("plothover", function (event, pos, item) {
  if (item) {
    $("#flot_chart_tooltip").remove();
    showTooltip(item.pageX, item.pageY, item.series.label[item.dataIndex]);
  } else {
    $("#flot_chart_tooltip").remove();
  }
});

{% endif %}
</script>
{% endblock %}