{% extends "template.html" %}

{%block title %}Edit Profile{% endblock %}

{%block keywords %}profile{% endblock %}

{%block description%}Edit profile for {{Profile.name}}{%endblock%}

{% block adbar %}<br/>{% endblock %}
{% block adbarBottom %}<br/>{% endblock %}
{% block feedback %}{% endblock %}

{% block content %}
<div class="container pt-1">
<h1>Edit {{Profile.name}} Profile</h1>
<form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
<table>
  {{form.as_table}}
  <tr><th></th><td><input type="submit" value="Save Changes"/></td></tr>
</table>
</form>
<p>You can link from your profile to any page on on BrassBandResults by using a special format:</p>
<p><b>[conductors/harry-mortimer|Harry Mortimer]</b></p>
<p><b>[bands/carlton-main-frickley-colliery-band|Carlton Main Frickley Colliery Band]</b></p>
<p>The first part of these is the bit of the url after brassbandresults.co.uk, and the second part (after the vertical bar) is the name to display for the link.</p>
</ul>
</div>
{% endblock %}