{% extends "template.html" %}

{%block title %}Create Profile{% endblock %}

{%block keywords %}profile{% endblock %}

{%block description%}Create a profile for {{Object.name}}{%endblock%}

{% block adbar %}<br/>{% endblock %}
{% block adbarBottom %}<br/>{% endblock %}
{% block feedback %}{% endblock %}

{% block content %}
<h1>Signup</h1>
<p>On this page you can add your profile details.  Once we have them, we'll take you to paypal to make payment.</p>
<p>The profile field is the only one that needs to be filled in, the others can be left blank if you wish.</p>
<p>This profile will be shown on the <a href="/bands/{{Band.slug}}/">{{Band.name}}</a> page.</p>
<h2>Profile for {{Object.name}}</h2>
<form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
<table>
  {{form.as_table}}
  <tr><th></th><td><input type="submit" value="Save"/></td></tr>
</table>
</form>
<p>You can link from your profile to any page on on BrassBandResults by using a special format:</p>
<p><b>[conductors/harry-mortimer|Harry Mortimer]</b></p>
<p><b>[bands/carlton-main-frickley-colliery-band|Carlton Main Frickley Colliery Band]</b></p>
<p>The first part of these is the bit of the url after brassbandresults.co.uk, and the second part (after the vertical bar) is the name to display for the link.</p>
{% endblock %}