{% extends "template.html" %}

{%block title %}Create Band Profile{% endblock %}

{%block keywords %}band profile{% endblock %}

{%block description%}Create a profile for {{Band.name}}{%endblock%}

{% block adbar %}<br/>{% endblock %}
{% block adbarBottom %}<br/>{% endblock %}
{% block feedback %}{% endblock %}

{% block content %}
<h1>Do you play for {{Band.name}}?</h1>
<p>This site is becoming ever more popular with <strong>1000s of visitors</strong> and over <strong>100,000 page views</strong> per month.</p>
<p>Do you want to:</p>
<ul>
  <li>be able to put a detailed profile on your band's page?</li>
  <li>put your band logo here?</li>
  <li>Link to Twitter and Facebook?</li>
  <li>include contact details?</li>
  <li>have no adverts on your page?</li>
</ul>
<p>See an example for <a href="/bands/rothwell-temperance-band/">Rothwell Temperance Band</a>.</p>
<p>{% if not AllowProfileForFree %}You can have this for just <strong>£24</strong> a year, though you'll need to have an account on the site first.{%endif%} <a href="/classifieds/band/{{Band.slug}}/signup/">Create Your Band Profile Now</a></p>
{% endblock %}