{% extends "template.html" %}
{% load i18n %}

{%block title %}{{Contest.name}} - Add Future Event{% endblock %}

{%block description%}Add a future event for {{Contest.name}}{%endblock%}

{%block contests-selected%}class="selected"{%endblock%}

{%block head %}
<script type="text/javascript" src="{{ STATIC_URL }}/datepicker/date.js"></script>
<script src="{{ STATIC_URL }}/datepicker/jquery.datePicker.js" type="text/javascript"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}/datepicker/datePicker.css" type="text/css" media="screen"/>
<script type="text/javascript">
  $(document).ready(function(){
	$('#id_date_of_event').datePicker({startDate:(new Date()).asString()});
  });
</script>
{%endblock%}

{% block content %}
<div class="container pt-1">
<h1>{% trans "Add Future Event for"%} {{Contest.name}}</h1>
<form action="." method="post">{% csrf_token %}
<table>
	{{form.as_table}}
	<tr><th></th><td><input type="submit" value="{% trans "Save Future Event"%}"/></td></tr>
</table>
</form>
</div>
{% endblock %}