{% extends "template.html" %}
{% load i18n %}

{%block title %}Contests{% endblock %}

{%block description%}List of brass band contests{%endblock%}

{%block contests-selected%}class="selected"{%endblock%}

{%block scriptfooter %}
<script type="text/javascript">
  $(document).ready(function(){
  	$("#contests").tablesorter();

    $('button.reset').click(function(){
      $('#contests').trigger('sortReset');
      return false;
    });
  });
</script>
{% endblock %}

{% block content %}
<div class="container pt-1">
{% if StartsWith == "ALL" %}
<h1>{% trans "All Contests"%}</h1>
{% else %}
<h1>{% trans "Contests starting with"%} {{StartsWith}}</h1>
{% endif %}
<p>{% trans "Starts with"%}:
{% if StartsWith == "A" %}<span class="bg-dark text-light rounded p-1">A</span>{%else%}<a href="/contests/filter/A/">A</a>{%endif%}
{% if StartsWith == "B" %}<span class="bg-dark text-light rounded p-1">B</span>{%else%}<a href="/contests/filter/B/">B</a>{%endif%}
{% if StartsWith == "C" %}<span class="bg-dark text-light rounded p-1">C</span>{%else%}<a href="/contests/filter/C/">C</a>{%endif%}
{% if StartsWith == "D" %}<span class="bg-dark text-light rounded p-1">D</span>{%else%}<a href="/contests/filter/D/">D</a>{%endif%}
{% if StartsWith == "E" %}<span class="bg-dark text-light rounded p-1">E</span>{%else%}<a href="/contests/filter/E/">E</a>{%endif%}
{% if StartsWith == "F" %}<span class="bg-dark text-light rounded p-1">F</span>{%else%}<a href="/contests/filter/F/">F</a>{%endif%}
{% if StartsWith == "G" %}<span class="bg-dark text-light rounded p-1">G</span>{%else%}<a href="/contests/filter/G/">G</a>{%endif%}
{% if StartsWith == "H" %}<span class="bg-dark text-light rounded p-1">H</span>{%else%}<a href="/contests/filter/H/">H</a>{%endif%}
{% if StartsWith == "I" %}<span class="bg-dark text-light rounded p-1">I</span>{%else%}<a href="/contests/filter/I/">I</a>{%endif%}
{% if StartsWith == "J" %}<span class="bg-dark text-light rounded p-1">J</span>{%else%}<a href="/contests/filter/J/">J</a>{%endif%}
{% if StartsWith == "K" %}<span class="bg-dark text-light rounded p-1">K</span>{%else%}<a href="/contests/filter/K/">K</a>{%endif%}
{% if StartsWith == "L" %}<span class="bg-dark text-light rounded p-1">L</span>{%else%}<a href="/contests/filter/L/">L</a>{%endif%}
{% if StartsWith == "M" %}<span class="bg-dark text-light rounded p-1">M</span>{%else%}<a href="/contests/filter/M/">M</a>{%endif%}
{% if StartsWith == "N" %}<span class="bg-dark text-light rounded p-1">N</span>{%else%}<a href="/contests/filter/N/">N</a>{%endif%}
{% if StartsWith == "O" %}<span class="bg-dark text-light rounded p-1">O</span>{%else%}<a href="/contests/filter/O/">O</a>{%endif%}
{% if StartsWith == "P" %}<span class="bg-dark text-light rounded p-1">P</span>{%else%}<a href="/contests/filter/P/">P</a>{%endif%}
{% if StartsWith == "Q" %}<span class="bg-dark text-light rounded p-1">Q</span>{%else%}<a href="/contests/filter/Q/">Q</a>{%endif%}
{% if StartsWith == "R" %}<span class="bg-dark text-light rounded p-1">R</span>{%else%}<a href="/contests/filter/R/">R</a>{%endif%}
{% if StartsWith == "S" %}<span class="bg-dark text-light rounded p-1">S</span>{%else%}<a href="/contests/filter/S/">S</a>{%endif%}
{% if StartsWith == "T" %}<span class="bg-dark text-light rounded p-1">T</span>{%else%}<a href="/contests/filter/T/">T</a>{%endif%}
{% if StartsWith == "U" %}<span class="bg-dark text-light rounded p-1">U</span>{%else%}<a href="/contests/filter/U/">U</a>{%endif%}
{% if StartsWith == "V" %}<span class="bg-dark text-light rounded p-1">V</span>{%else%}<a href="/contests/filter/V/">V</a>{%endif%}
{% if StartsWith == "W" %}<span class="bg-dark text-light rounded p-1">W</span>{%else%}<a href="/contests/filter/W/">W</a>{%endif%}
{% if StartsWith == "X" %}<span class="bg-dark text-light rounded p-1">X</span>{%else%}<a href="/contests/filter/X/">X</a>{%endif%}
{% if StartsWith == "Y" %}<span class="bg-dark text-light rounded p-1">Y</span>{%else%}<a href="/contests/filter/Y/">Y</a>{%endif%}
{% if StartsWith == "Z" %}<span class="bg-dark text-light rounded p-1">Z</span>{%else%}<a href="/contests/filter/Z/">Z</a>{%endif%}
{% if StartsWith == "ALL" %}<span class="bg-dark text-light rounded p-1">Show All</span>{%else%}<a href="/contests/filter/ALL/">{% trans "Show All"%}</a>{%endif%}
</p>
<button class="reset btn btn-outline-primary btn-sm float-right mb-1">Reset Sort</button>
<table id="contests" class="table table-hover">
	<thead>
		<tr>
			<th>{% trans "Name"%}</th>
			<th>{% trans "Events on Site"%}</th>
		</tr>
	</thead>
	<tbody>
{% for contest in Contests %}
  		<tr>
  			<td class="contest"><a href="/contests/{{contest.actual_slug}}/">{{contest.name}}</a></td>
			<td class="contest-count">{{contest.count}}</td>
		</tr>
{% endfor %}
	</tbody>
</table>
<p>{% trans "Starts with"%}:
{% if StartsWith == "A" %}<span class="bg-dark text-light rounded p-1">A</span>{%else%}<a href="/contests/filter/A/">A</a>{%endif%}
{% if StartsWith == "B" %}<span class="bg-dark text-light rounded p-1">B</span>{%else%}<a href="/contests/filter/B/">B</a>{%endif%}
{% if StartsWith == "C" %}<span class="bg-dark text-light rounded p-1">C</span>{%else%}<a href="/contests/filter/C/">C</a>{%endif%}
{% if StartsWith == "D" %}<span class="bg-dark text-light rounded p-1">D</span>{%else%}<a href="/contests/filter/D/">D</a>{%endif%}
{% if StartsWith == "E" %}<span class="bg-dark text-light rounded p-1">E</span>{%else%}<a href="/contests/filter/E/">E</a>{%endif%}
{% if StartsWith == "F" %}<span class="bg-dark text-light rounded p-1">F</span>{%else%}<a href="/contests/filter/F/">F</a>{%endif%}
{% if StartsWith == "G" %}<span class="bg-dark text-light rounded p-1">G</span>{%else%}<a href="/contests/filter/G/">G</a>{%endif%}
{% if StartsWith == "H" %}<span class="bg-dark text-light rounded p-1">H</span>{%else%}<a href="/contests/filter/H/">H</a>{%endif%}
{% if StartsWith == "I" %}<span class="bg-dark text-light rounded p-1">I</span>{%else%}<a href="/contests/filter/I/">I</a>{%endif%}
{% if StartsWith == "J" %}<span class="bg-dark text-light rounded p-1">J</span>{%else%}<a href="/contests/filter/J/">J</a>{%endif%}
{% if StartsWith == "K" %}<span class="bg-dark text-light rounded p-1">K</span>{%else%}<a href="/contests/filter/K/">K</a>{%endif%}
{% if StartsWith == "L" %}<span class="bg-dark text-light rounded p-1">L</span>{%else%}<a href="/contests/filter/L/">L</a>{%endif%}
{% if StartsWith == "M" %}<span class="bg-dark text-light rounded p-1">M</span>{%else%}<a href="/contests/filter/M/">M</a>{%endif%}
{% if StartsWith == "N" %}<span class="bg-dark text-light rounded p-1">N</span>{%else%}<a href="/contests/filter/N/">N</a>{%endif%}
{% if StartsWith == "O" %}<span class="bg-dark text-light rounded p-1">O</span>{%else%}<a href="/contests/filter/O/">O</a>{%endif%}
{% if StartsWith == "P" %}<span class="bg-dark text-light rounded p-1">P</span>{%else%}<a href="/contests/filter/P/">P</a>{%endif%}
{% if StartsWith == "Q" %}<span class="bg-dark text-light rounded p-1">Q</span>{%else%}<a href="/contests/filter/Q/">Q</a>{%endif%}
{% if StartsWith == "R" %}<span class="bg-dark text-light rounded p-1">R</span>{%else%}<a href="/contests/filter/R/">R</a>{%endif%}
{% if StartsWith == "S" %}<span class="bg-dark text-light rounded p-1">S</span>{%else%}<a href="/contests/filter/S/">S</a>{%endif%}
{% if StartsWith == "T" %}<span class="bg-dark text-light rounded p-1">T</span>{%else%}<a href="/contests/filter/T/">T</a>{%endif%}
{% if StartsWith == "U" %}<span class="bg-dark text-light rounded p-1">U</span>{%else%}<a href="/contests/filter/U/">U</a>{%endif%}
{% if StartsWith == "V" %}<span class="bg-dark text-light rounded p-1">V</span>{%else%}<a href="/contests/filter/V/">V</a>{%endif%}
{% if StartsWith == "W" %}<span class="bg-dark text-light rounded p-1">W</span>{%else%}<a href="/contests/filter/W/">W</a>{%endif%}
{% if StartsWith == "X" %}<span class="bg-dark text-light rounded p-1">X</span>{%else%}<a href="/contests/filter/X/">X</a>{%endif%}
{% if StartsWith == "Y" %}<span class="bg-dark text-light rounded p-1">Y</span>{%else%}<a href="/contests/filter/Y/">Y</a>{%endif%}
{% if StartsWith == "Z" %}<span class="bg-dark text-light rounded p-1">Z</span>{%else%}<a href="/contests/filter/Z/">Z</a>{%endif%}
{% if StartsWith == "ALL" %}<span class="bg-dark text-light rounded p-1">Show All</span>{%else%}<a href="/contests/filter/ALL/">{% trans "Show All"%}</a>{%endif%}
</p>
</div>
{% endblock %}