{% extends "template.html" %}
{% load gravatar %}
{% load humanize %}
{% load i18n %}

{%block title %}{{ContestEvent.name}} - {{ContestEvent.event_date}}{% endblock %}

{%block keywords %}{{ContestEvent.name}} {{ContestEvent.event_date}}{% endblock %}

{%block description%}Details about the brass band contest {{ContestEvent.name}} on {{ContestEvent.event_date}}{%endblock%}

{% block content %}
<div class="container pt-1">
<h1 class="contest-event"><a href="/contests/{{ContestEvent.contest.slug}}/">{{ContestEvent.name}}</a></h1>
<span class="screenonly"> 
{% if ShowEdit %}
  [<a href="/contests/{{ContestEvent.contest.slug}}/{{ContestEvent.date_of_event|date:"Y-m-d"}}/edit/{{ContestEvent.id}}/">{% trans "edit"%}</a>]
  [<a href="/addresults/{{ContestEvent.contest.slug}}/{{ContestEvent.date_of_event|date:"Y-m-d"}}/6/">{% trans "edit adjudicators"%}</a>]
{%endif%} 
{% if user.is_staff and perms.contests.change_contestevent %}[<a href="/bbradmin/contests/contestevent/{{ContestEvent.id}}/">admin</a>]{% endif %}
</span>
<h2><a href="/calendar/date/{{ContestEvent.event_date_link}}" title="Show contests that match this date">{{ContestEvent.event_date_with_day}}</a></h2>

<p>
<div id="link_buttons" class="screenonly">
{% if ResultCount > 0 %}
      <a href="/contests/{{ContestEvent.contest.slug}}/{{ContestEvent.date_of_event|date:"Y-m-d"}}/form/">
       <button class="btn btn-outline-primary btn-sm float-left mb-1 mr-1">{% trans "Form Guide"%}</button>
      </a>
{% if ContestEvent.venue_link.latitude %}      
      <a href="/contests/{{ContestEvent.contest.slug}}/{{ContestEvent.date_of_event|date:"Y-m-d"}}/map/">
       <button class="btn btn-outline-primary btn-sm float-left mb-1 mr-1">{% trans "Geography"%}</button>
      </a>
{% endif %}
       <a href="/contests/{{ContestEvent.contest.slug}}/{{ContestEvent.date_of_event|date:"Y-m-d"}}/competitors/">
      <button class="btn btn-outline-primary btn-sm float-left mb-1 mr-1">{% trans "Competitors"%}</button>
     </a>
{% endif %}
</div>
</p>

<div id="result-tab">
<table width="100%">
<tr>
<td width="70%">
<table>
{% if ContestEvent.test_piece %}
    <tr>
      <th>{% trans "Test Piece"%}:</th>
      <td class="test-piece">
        <a href="/pieces/{{ContestEvent.test_piece.slug}}/">{{ContestEvent.test_piece.name}}</a>
        {% if ContestEvent.contest_type.own_choice %} &amp; Own Choice{% endif %}
        <br/> 
        - {% if ContestEvent.test_piece.composer %}<a href="/people/{{ContestEvent.test_piece.composer.slug}}/">{{ContestEvent.test_piece.composer.name}}</a>{%endif%} {% if ContestEvent.test_piece.arranger %} arr. <a href="/people/{{ContestEvent.test_piece.arranger.slug}}/">{{ContestEvent.test_piece.arranger.name}}</a>{%endif%}
      </td>
    </tr>
{% if ExtraTestPieces %}
{% for extraTestPiece in ExtraTestPieces %}
    <tr>
      <td>{{extraTestPiece.and_or}}</td>
      <td class="test-piece">
        <a href="/pieces/{{extraTestPiece.test_piece.slug}}/">{{extraTestPiece.test_piece.name}}</a><br/> - {% if extraTestPiece.test_piece.composer %}<a href="/people/{{extraTestPiece.test_piece.composer.slug}}/">{{extraTestPiece.test_piece.composer.name}}</a>{%endif%} {% if extraTestPiece.test_piece.arranger %} arr. <a href="/people/{{extraTestPiece.test_piece.arranger.slug}}/">{{extraTestPiece.test_piece.arranger.name}}</a>{%endif%}
      </td> 
    </tr>
{% endfor %}
{% endif %}
{% else %}
    <tr>
      <th>{% trans "Format"%}:</th>
      <td>
        {{ContestEvent.contest_type.name}}
        {% if ContestEvent.contest_type.entertainments and user.profile.superuser %}
          [<a href="/contests/{{ContestEvent.contest.slug}}/{{ContestEvent.date_of_event|date:"Y-m-d"}}/entertainments/">edit pieces played</a>]
        {% endif %}
      </td>
    </tr>
{% endif %}
    <tr>
        <th>{% trans "Adjudicators"%}:</th>
{% if Adjudicators %}        
        <td class="adjudicators">{% for contest_adjudicator in Adjudicators %}<span class="adjudicator"><a href="/people/{{contest_adjudicator.person.slug}}/">{{contest_adjudicator.person.name}}</a></span>{% if not forloop.last %}, {%endif%}{% endfor %}</td>
{% else %}
        <td><font color="red">{% trans "Unknown, do you know?"%}</font></td>
{% endif %}        
    </tr>
    <tr><th>Venue:</th><td>
        {% if ContestEvent.venue_link %}
        <a href="/venues/{{ContestEvent.venue_link.slug}}/">{{ContestEvent.venue_name}}</a>
        {% else %}
        <font color="red">{% trans "Unknown, do you know?"%}</font>
        {% endif %}</td></tr>
</table>
</td>
<td align="right" width="30%" id="link_buttons">
    <a href="/contests/{{ContestEvent.contest.slug}}/{{ContestEvent.date_of_event|date:"Y-m-d"}}/AddToContestHistory/" title="{% trans "Click here to add this contest to your list of results"%}"><button class="btn btn-outline-primary btn-sm float-right mb-1 mr-1">{% trans "I Played At This Contest"%}</button></a>
</td>
{% if ContestProgrammeCover %}
<td class="screenonly">
  <div id="ProgrammeArea">
    <div id="ProgrammeCover">
      <a href="{{ContestProgrammeCover.image.url_400x600}}" title="{{ContestEvent.name}} {% trans "Programme Cover"%}, {{ContestEvent.event_date}} " data-lightbox="programme" data-title="{{ContestEvent.name}} Programme Cover, {{ContestEvent.event_date}}"><img src="{{ContestProgrammeCover.image.url_80x100}}"/></a>
      <span style="display:none;">
      {% for page in ContestProgrammePages %}
        <a href="{{page.image.url_400x600}}" title="{{page.description}}"><img src="{{page.image.url_80x100}}"/></a>
      {% endfor %}
      </span>
    </div>
    <a class="small_link" href="/contests/{{Contest.slug}}/{{ContestEvent.date_of_event|date:"Y-m-d"}}/programme/">{% trans "larger"%}</a>
  </div>
</td>
{% endif %}
</tr>
</table>
<br/>

<button class="screenonly reset btn btn-outline-primary btn-sm float-right mb-1">{% trans "Reset Sort"%}</button>
<table class="next-previous screenonly" width="100%">
    <tr>
        <td align="left">{% if PreviousSectionEvent %}<a href="/contests/{{PreviousSectionEvent.contest.slug}}/{{PreviousSectionEvent.date_of_event|date:"Y-m-d"}}/"><img src="{{ STATIC_URL }}icons/arrow_up.png" border="0"/> {{PreviousSectionEvent.contest.name}} {{PreviousSectionEvent.date_of_event|date:"Y"}}</a>{%endif%}</td>
        <td align="right">{% if NextSectionEvent %}<a href="/contests/{{NextSectionEvent.contest.slug}}/{{NextSectionEvent.date_of_event|date:"Y-m-d"}}/">{{NextSectionEvent.contest.name}} {{NextSectionEvent.date_of_event|date:"Y"}} <img src="{{ STATIC_URL }}icons/arrow_down.png" border="0"/></a>{%endif%}</td>
        
    <tr>
        <td align="left">{% if ContestEventPrevious %}<img src="{{ STATIC_URL }}icons/arrow_left.png" border="0"/> <a href="/contests/{{ContestEventPrevious.contest.slug}}/{{ContestEventPrevious.date_of_event|date:"Y-m-d"}}/">{% trans "Previous Event"%}</a> {%endif%}</td>
        <td align="right">{% if ContestEventNext %} <a href="/contests/{{ContestEventNext.contest.slug}}/{{ContestEventNext.date_of_event|date:"Y-m-d"}}/">{% trans "Next Event"%}</a> <img src="{{ STATIC_URL }}icons/arrow_right.png" border="0"/>{%endif%}</td>
    </tr>
</table>
<table id="results" class="table table-hover table-sm">
    <thead>
        <tr>
{% if not ContestEvent.moreThanThreeMonthsInFuture %}            
            <th>{% trans "Position"%}</th>
{% endif %}            
            <th>{% trans "Band"%}</th>
{% if not ContestEvent.moreThanThreeMonthsInFuture %}            
            <th>{% trans "Conductor"%}</th>
{% endif %}            
{% if HasOwnChoice %}
            <th>{% trans "Music"%}</th>
{% endif %}
{% if ShowDraw %}
            <th>{{ContestEvent.contest_type.first_draw}}</th>
{% endif %}            
{% if ShowSecondDraw %}
      <th>{{ContestEvent.contest_type.second_draw}}</th>
{% endif %}      
{% if ShowPointsFirstPart %}
      <th>{{ContestEvent.contest_type.points_one}}</th>
{% endif %}
{% if ShowPointsSecondPart %}      
      <th>{{ContestEvent.contest_type.points_two}}</th>
{% endif %}      
{% if ShowPointsThirdPart %}      
      <th>{{ContestEvent.contest_type.points_three}}</th>
{% endif %}     
{% if ShowPointsFourthPart %}      
      <th>{{ContestEvent.contest_type.points_four}}</th>
{% endif %}     
{% if ShowPenaltyPoints %}      
      <th>{% trans "Penalty"%}</th>
{% endif %}
{% if ShowPoints %}
      <th>{{ContestEvent.contest_type.total_points}}</th>
{% endif %}      
{% ifequal ContestEvent.owner request.user %}
            <th></th>
{% endifequal %}
{% if user.is_staff and perms.contests.change_contestresult  %}
            <th></th>
{% endif %}
        </tr>
    </thead>
    <tbody>
{% for result in Results %}
      <tr class="result-{{result.results_position_display}}">
{% if not ContestEvent.moreThanThreeMonthsInFuture %}          
              <td class="band-contest-position">{% if result.results_position_display%}<a href="/contests/{{ContestEvent.contest.slug}}/position/{{result.results_position_display}}/">{{result.results_position_display}}</a>{%endif%}{% if result.notes %} &nbsp;<a href="#" title="{{result.notes}}"><img src="{{ STATIC_URL }}icons/comment.png" border="0"/></a>{%endif%}</td>
{% endif %}              
            <td class="band"><img src="{{ STATIC_URL }}flags/{{result.band.region.country_code|lower}}.png" title="{{result.band.region.name}}"> <a href="/bands/{{result.band.slug}}/" title="{{result.band.name}}">{{result.band_name}}</a></td>
{% if not ContestEvent.moreThanThreeMonthsInFuture %}            
            <td class="conductor">
{% ifnotequal result.results_position_display "W" %}
{% if not ContestEvent.no_contest %}
{% ifequal result.person_conducting.slug "unknown" %}
                <font color="red">{% trans "Unknown, do you know?"%}</font>
{% else %}            
                <a href="/people/{{result.person_conducting.slug}}/">{{result.person_conducting.name}}</a>
                {% if result.second_person_conducting %}
                <br/><a href="/people/{{result.second_person_conducting.slug}}/">{{result.second_person_conducting.name}}</a>
                {% endif %}
{% endifequal %}
{% endif %}
{% endifnotequal %}                
            </td>
{% endif %}
{% if HasOwnChoice %}
<td class="test-piece">
{% if result.test_piece %}
   <a href="/pieces/{{result.test_piece.slug}}/" title="{{result.test_piece.composer}}">{{result.test_piece.name}}</a>
{% endif %}
{% if result.extra_pieces %}
{% for extra_piece in result.extra_pieces %}
   <a href="/pieces/{{extra_piece.piece.slug}}/" title="{{extra_piece.piece.composer}}">{{extra_piece.piece.name}}</a>{% if extra_piece.suffix %} ({{extra_piece.suffix}}){%endif%}<br/>
{% endfor %}
{% endif %}
</td>
{% endif %}
{% if ShowDraw %}
            <td class="band-contest-draw">{% if result.draw %}<a href="/contests/{{ContestEvent.contest.slug}}/draw/{{result.draw}}/">{{result.draw}}</a>{% endif %}</td>
{% endif %}
{% if ShowSecondDraw %}
      <td class="band-contest-draw">{% if result.draw_second_part %}<a href="/contests/{{ContestEvent.contest.slug}}/draw/{{result.draw_second_part}}/">{{result.draw_second_part}}</a>{% endif %}</td>
{% endif %} 
{% if ShowPointsFirstPart %}
      <td class="band-contest-points">{% if result.points_first_part %}{{result.points_first_part}}{% endif %}</td>
{% endif %}      
{% if ShowPointsSecondPart%}        
      <td class="band-contest-points">{% if result.points_second_part %}{{result.points_second_part}}{% endif %}</td>
{% endif %}  
{% if ShowPointsThirdPart%}        
      <td class="band-contest-points">{% if result.points_third_part %}{{result.points_third_part}}{% endif %}</td>
{% endif %} 
{% if ShowPointsFourthPart%}        
      <td class="band-contest-points">{% if result.points_fourth_part %}{{result.points_fourth_part}}{% endif %}</td>
{% endif %}     
{% if ShowPenaltyPoints %}      
      <td class="band-contest-points">{% if result.penalty_points %}{{result.penalty_points}}{% endif %}</td>
{% endif %}
{% if ShowPoints %}      
      <td class="band-contest-points">{% if result.points %}{{result.points_display}}{% endif %}</td>
{% endif %}      
{% if result.owner.id == request.user.id or Superuser %}
            <td class="screenonly">
        [<a href="/contests/result/edit/{{result.id}}/" class="screenonly" title="{% trans "Edit this result"%}">edit</a>]
{% if request.user.profile.enhanced_functionality or Superuser %}
        [<a href="/contests/result/delete/{{result.id}}/" class="screenonly" title="Delete this result">{% trans "delete"%}</a>]
{% endif %}              
{% if user.is_staff and perms.contests.change_contestresult %}
        [<a href="/bbradmin/contests/contestresult/{{result.id}}/" class="screenonly" title="Created {{result.created|date:"jS F Y, H:i"}} by {% firstof result.original_owner.username result.owner.username %}, last changed {{result.last_modified|date:"jS F Y, H:i"}} by {{result.lastChangedBy.username}}">admin</a>]        
{% endif %}
            </td>            
{% endif %}
      </tr>
{% endfor %}
    </tbody>
</table>
<table class="next-previous screenonly" width="100%">
    <tr>
        <td align="left">{% if ContestEventPrevious %}<img src="{{ STATIC_URL }}icons/arrow_left.png" border="0"/> <a href="/contests/{{ContestEventPrevious.contest.slug}}/{{ContestEventPrevious.date_of_event|date:"Y-m-d"}}/">Previous Event</a> {%endif%}</td>
        <td align="right">{% if ContestEventNext %} <a href="/contests/{{ContestEventNext.contest.slug}}/{{ContestEventNext.date_of_event|date:"Y-m-d"}}/">Next Event</a> <img src="{{ STATIC_URL }}icons/arrow_right.png" border="0"/>{%endif%}</td>
    </tr>
</table>



<br/>

<table width="100%"><tr>
<td width="75%">

{% if not ContestEvent.complete %}

<span class="screenonly">
{% ifequal ContestEvent.owner user %}
[<a href="/addresults/{{ContestEvent.contest.slug}}/{{ContestEvent.date_of_event|date:"Y-m-d"}}/5/">Add More Results</a>] [<a href="/addresults/{{ContestEvent.contest.slug}}/{{ContestEvent.date_of_event|date:"Y-m-d"}}/amend/">{% trans "Amend Existing Results"%}</a>]
{% else %}
{% if user.profile.enhanced_functionality %}
[<a href="/addresults/{{ContestEvent.contest.slug}}/{{ContestEvent.date_of_event|date:"Y-m-d"}}/5/">Add More Results</a>] [<a href="/addresults/{{ContestEvent.contest.slug}}/{{ContestEvent.date_of_event|date:"Y-m-d"}}/amend/">{% trans "Amend Existing Results"%}</a>]
{% else %}
{% if ContestEvent.not_complete %}
<p class="screenonly">This contest does not appear to have complete results.  <a href="/addresults/{{ContestEvent.contest.slug}}/{{ContestEvent.date_of_event|date:"Y-m-d"}}/5/">{% trans "Add More Here"%}</a>.</p>
{% endif %}
{% endif %}
{% endifequal %}
</span>

{% endif %}

</td>
<td width="25%" align="right">
 <div class="screenonly">
{% if TakeOwnershipEnabled %}    
    [<a href="/contests/{{ContestEvent.contest.slug}}/{{ContestEvent.date_of_event|date:"Y-m-d"}}/TakeOwnership/" title="{% trans "Click here to take ownership of this result, so you can modify it"%}" onClick="return confirm_take_ownership()">{% trans "Take Ownership"%}</a>]&nbsp;&nbsp;
{% endif %}
    <a href="/users/{{ContestEvent.owner.username}}/">{% gravatar ContestEvent.owner 40 %}<br/>{{ContestEvent.owner.username}}</a>
 </div>
</td>

</tr></table>

{% if Statistics and user.profile.pro_member %}
<div class="border border-info rounded p-3">
<p>Correlation coefficients of multiple adjudicator rankings; 1 = perfect correlation, 0 = no correlation, -1 = backwards correlation.</p>
<table>
  <tr>
    <th></th>
    <th>{{ContestEvent.contest_type.points_one}}-{{ContestEvent.contest_type.points_two}}&nbsp;&nbsp;</th>
{% if Statistics.spearman_a_c %}    
    <th>{{ContestEvent.contest_type.points_one}}-{{ContestEvent.contest_type.points_three}}&nbsp;&nbsp;</th>
    <th>{{ContestEvent.contest_type.points_two}}-{{ContestEvent.contest_type.points_three}}&nbsp;&nbsp;</th>
{% endif %}    
  </tr>
  <tr>
    <th>Spearman Rho</th>
    <td>{{Statistics.spearman_a_b|floatformat:3}}</td>
{% if Statistics.spearman_a_c %}    
    <td>{{Statistics.spearman_a_c|floatformat:3}}</td>
    <td>{{Statistics.spearman_b_c|floatformat:3}}</td>
{% endif %}    
  </tr>
  <tr>
    <th>Kendall Tau</th>
    <td>{{Statistics.kendall_a_b|floatformat:3}}</td>
{% if Statistics.kendall_a_c %}    
    <td>{{Statistics.kendall_a_c|floatformat:3}}</td>
    <td>{{Statistics.kendall_b_c|floatformat:3}}</td>
{% endif %}    
  </tr>
</table>
</div>
<br/>
{% endif %}

<p>{{ContestEvent.notes|safe|linebreaksbr}}</p>

</div>

<br/>
<div id="tags">
  {% for tag in ContestEvent.tag_list %}<a href="/tags/{{tag.slug}}/">{{tag.name}}</a> {%endfor%}
</div>

{% if EventLinks %}
<div id="links-tab">
<h2>Event Links</h2>
{% for link in EventLinks %}
<a href="{{link.website_url}}">{{link.name}}</a><br/>
{% endfor %} 
</div>
{% endif %}
</div>
{% endblock %}

{% block scriptfooter %}
<script>
  $(document).ready(function(){
    $("#results").tablesorter();
  });

   $('button.reset').click(function(){
      $('#results').trigger('sortReset');
      return false;
    });

    
    function confirm_take_ownership() {
      var lConfirmed = confirm("{% trans "Are you sure?  This will route all feedback on this contest event to you."%}");
      if (lConfirmed)
      {
        _gaq.push(['_trackEvent', 'User', 'TakeOwnership', '{{user.username}}']);
      }
      return lConfirmed;
    }
</script>
{% endblock %}
