{% extends "template.html" %}

{%block title %}{{Section.name}} - Section{% endblock %}

{%block keywords %}{{Section.name}} Section{% endblock %}

{%block description %}Details of the {{Section.name}}{% endblock %}

{%block scriptfooter %}
<script>
  $(document).ready(function(){
    $("#bands").tablesorter();
  });
</script>
{% endblock %}

{% block content %}
<div class="container pt-1">
<h1>{{Section.name}} Section</h1>
<p>
{% for section in Sections %}
<a href="/sections/{{section.slug}}/">{{section.name}}</a>
{% endfor %}
</p> 
<h2>Bands</h2>
<table id="bands" class="table">
	<thead>
		<tr>
			<th>Band</th>
			<th>Region</th>
		</tr>
	</thead>
	<tbody>
{% for band in Section.band_set.all %}
		<tr>
			<td><a href="/bands/{{band.slug}}/">{{band.name}}</a></td>
			<td><a href="/regions/{{band.region.slug}}/">{{band.region.name}}</a></td>
		</tr>
{% endfor %}
	</tbody>
</table>
</div>
{% endblock %}