{% extends "template.html" %}

{%block title %}Sections{% endblock %}

{%block keywords %}Sections{% endblock %}

{%block description %}List of brass band contest sections{% endblock %}

{%block scriptfooter %}
<script>
  $(document).ready(function(){
    $("#uk").tablesorter();

    $('button#resetUk').click(function(){
      $('#uk').trigger('sortReset');
      return false;
    });

    $("#world").tablesorter();

    $('button#resetWorld').click(function(){
      $('#world').trigger('sortReset');
      return false;
    });
  });
</script>
{% endblock %}

{% block content %}
<div class="container pt-1">
<h1>Section Counts</h1>
<p>Bands listed with a section have competed in the last three years, and they are listed in the section they have most recently competed in.  Both competing and non-competing bands are included.</p>


<h2>United Kingdom</h2>
<button id="resetUk" class="btn btn-outline-primary btn-sm float-right mb-1">Reset Sort</button>
<table id="sections" class="table table-hover">
	<thead>
		<tr>
			<th>Section</th>
			<th>Region</th>
			<th>Band Count</th>
		</tr>
	</thead>
	<tbody>
{% for section_count in UkSectionCounts %}
    	<tr>
    		<td>{{section_count.sectionName}}</td>
			<td><a href="/regions/{{section_count.regionSlug}}/">{{section_count.regionName}}</a></td>
			<td>{{section_count.count}}</td>
		</tr>
{% endfor %}
	</tbody>
</table>

<h2>Rest of World</h2>
<button id="resetWorld" class="btn btn-outline-primary btn-sm float-right mb-1">Reset Sort</button>
<table id="sections" class="table table-hover">
    <thead>
        <tr>
            <th>Section</th>
            <th>Region</th>
            <th>Band Count</th>
        </tr>
    </thead>
    <tbody>
{% for section_count in WorldSectionCounts %}
        <tr>
            <td>{{section_count.sectionName}}</td>
            <td><a href="/regions/{{section_count.regionSlug}}/">{{section_count.regionName}}</a></td>
            <td>{{section_count.count}}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
</div>
{% endblock %}