{% extends "template.html" %}
{% load gravatar %}

{% block title %}{{User.username}} - User Profile{% endblock %}

{%block description %}User {{User.username}}{% endblock %}

{%block profile-selected%}class="selected"{%endblock%}

{% block adbar %}<br/>{%endblock%}
{% block adbarBottom %}<br/>{% endblock %}

{% block content %}
<div class="container pt-1">
<div id="UserProfile">
<h1>{{User.username}}</h1>
<span class="screenonly">
 [<a href="/users/{{User.username}}/change_password/">change password</a>]
{% if user.is_authenticated and user.profile.superuser %}
 [<a href="/users/{{User.username}}/talk/">talk</a>]
{% endif %} 
{% if user.is_superuser %}
 [<a href="/bbradmin/auth/user/{{User.id}}/">admin user</a>]
 [<a href="/bbradmin/users/userprofile/{{User.profile.id}}/">admin profile</a>]
{%endif%}
</span>
<div id="avatar" class="float-right">
  {% gravatar User 80 %}<br/>
  <b>{{Profile.points}}</b><br/>
  reputation<br/>
</div>
<table>
  <tr><th>Member For:</th><td>{{User.date_joined|timesince}}</td></tr>
  <tr><th>Last Seen:</th><td>{{User.last_login|timesince}} ago</td></tr>
</table>

<br/><br/><br/><br/><br/>

<div class="clear"></div>
<div id="tabs">
  <ul>
    <li><a href="/users/{{User.username}}/" title="Feedback sent">Feedback{%if FeedbackCount%} ({{FeedbackCount}}){%endif%}</a></li>
    <li><a href="/users/{{User.username}}/feedback_sent/" title="Feedback sent">Sent{%if SentFeedbackCount%} ({{SentFeedbackCount}}){%endif%}</a></li>
    <li><a href="/users/{{User.username}}/results_added/" title="Results Added to Site">Results{% if ContestCount %} ({{ContestCount}}){%endif%}</a></li>
    <li class="selected">Performances{% if PerformanceCount %} ({{PerformanceCount}}){%endif%}</li>
    <li><a href="/users/{{User.username}}/messages/" title="Site Messages">Messages{% if MessageCount%} ({{MessageCount}}){%endif%}</a></li>
    <li><a href="/users/{{User.username}}/classifieds/" title="Classified Profiles">Classifieds</a></li> 
  </ul>
</div>

<div id="ContestHistory">
<h2>Privacy Settings</h2>
<p>Who do you want to be able to see your contest history?</p>
<form action="." method="post">{% csrf_token %}
<table>
  <tr><td><input type="radio" name="privacy" value="public"{% ifequal ContestHistoryVisibility "public" %} checked="checked"{%endifequal%}/></td><td>Anyone who looks at <a href="http://brassbandresults.co.uk/myresults/{{user.username}}/">http://brassbandresults.co.uk/myresults/{{user.username}}/</a></td></tr>
  <tr><td><input type="radio" name="privacy" value="site"{% ifequal ContestHistoryVisibility "site" %} checked="checked"{%endifequal%}/></td><td>Anyone who looks at http://brassbandresults.co.uk/users/{{user.username}}/ and is logged into brassbandresults.</td></tr>
  <tr><td><input type="radio" name="privacy" value="private"{% ifequal ContestHistoryVisibility "private" %} checked="checked"{%endifequal%}/></td><td>Hide it so that only I can see it.</td></tr>
  <tr><td></td><td><input type="submit" value="Update Privacy Settings"></td></tr>
</table>
</form>
<h2>Date Ranges</h2>
{% if DateRanges %}
<table class="table table-hover">
  <thead>
    <tr>
      <th>Band</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>
  <tbody>
{% for daterange in DateRanges %}
      <tr>
        <td><a href="/bands/{{daterange.band.slug}}/">{{daterange.band.name}}</a></td>
    <td>{{daterange.start_date|date:"jS M Y"}}</td>
    <td>{{daterange.end_date|date:"jS M Y"}}</td>
      </tr>
{% endfor %}
  </tbody>
</table>
{% else %}
<p>You have not set up any date ranges.</p>
{% endif %}
<p>[<a href="/users/{{User.username}}/contesthistory/">Change Your Date Ranges</a>]</p>
<h2>Contest History {% if request.user.profile.pro_member %}({{PerformanceCount}}){%endif%}</h2>
{% if ImportedCount %}
<p><font color="green">{{ImportedCount}} new results imported into the list.</font></p>
{% endif %}
{% if ContestHistory %}
{% if request.user.profile.pro_member %}
<table width="100%">
  <tr>
    <td width="60%" valign="top">
      <p>You have competed in {{PerformanceCount}} contests, for {{BandCount}} bands, under {{ConductorCount}} conductors.</p>
      <p>Your average position at a contest is {{AveragePosition|floatformat:"1"}}.</p>
      <p><b>Bands</b>: {% for band in HistoryBands %}<a href="/bands/{{band.slug}}/">{{band.name}}</a>{% if not forloop.last%}, {%endif%}{%endfor %}</p>
      <p><b>Conductors</b>: {% for conductor in HistoryConductors %}<a href="/people/{{conductor.slug}}/">{{conductor.name}}</a>{% if not forloop.last%}, {%endif%}{%endfor%}</p>
    </td>
    <td width="40%"><div id="contest-history-pie"><div id="flot_pie"></div></div></td>
  </tr>
</table>
{% endif %}
<p>
{% if user.profile.pro_member %}
   <select id="positionDropList">
     {% for position in Positions %}
     <option value="{{position.id}}">{{position.name}}</option>
     {% endfor %}
   </select>
   [<a href="javascript:setPosition()">set position of ticked</a>]&nbsp;&nbsp;
{% endif %}
   [<a href="javascript:removeChecked()">remove ticked</a>] 
</p>
<table id="contest-history" class="table table-hover">
  <thead>
    <tr>
      <th><input type="checkbox" id="toggleall"/></th>
      <th>Date</th>
      <th>Contest</th>
      <th>Band</th>
      <th>Conductor</th>
      <th>Piece</th>
      <th>Result</th>
{% if user.profile.pro_member %}      
      <th>Position</th>
{% endif %}      
    </tr>
  </thead>
  <tbody>
{% for result in ContestHistory %}
    <tr class="result-{{result.result.results_position_display}}">
      <td><input type='checkbox' id="p{{result.id}}" class="performanceCheckbox"/></td>
      <td><a href="/contests/{{result.result.contest_event.contest.slug}}/{{result.result.contest_event.date_of_event|date:"Y-m-d"}}/">{{result.result.contest_event.event_date}}</a></td>
      <td>{{result.result.contest_event.contest.name}}</td>
      <td><a href="/bands/{{result.result.band.slug}}/" title="{{result.result.band.name}}">{{result.result.band_name}}</a></td>
      <td>
{% ifequal result.result.conductor.name "Unknown" %}
        <font color="red">Unknown, do you know?</font>
{% else %}      
        <a href="/people/{{result.result.person_conducting.slug}}/">{{result.result.person_conducting.name}}</a>
{% endifequal %}
      </td>
{% if result.result.test_piece %}      
      <td><a href="/pieces/{{result.result.test_piece.slug}}/">{{result.result.test_piece.name}}</a></td>
{% else %}
      <td><a href="/pieces/{{result.result.contest_event.test_piece.slug}}/">{{result.result.contest_event.test_piece.name}}</a></td>
{% endif %}      
      <td>{{result.result.results_position_display}}</td>
{% if user.profile.pro_member %}      
      <td id="position-{{result.id}}">{{result.instrument.name}}</td>
{% endif %}      
{% ifequal result.status "pending" %}
      <td>
        [<a href="/users/{{user.username}}/contesthistory/{{result.id}}/approve_contest/">approve</a>]
      </td>
{% endifequal %}      
    </tr>
{% endfor %}    
  </tbody>
</table>
<p>To add individual contests to this list, click the "I played at this contest" link on any contest results page.  To add multiple contests, create a date range above.</p>
{% else %}
<p>Using this page you can build up your own personal contest history.  Use the "I played at this contest" link on any contest results page to get started.</p>
{% endif %}

</div>
</div>
</div>
{%endblock%}

{% block feedback %}{% endblock %}

{% block scriptfooter %}
<script>

  $(document).ready(function(){

  
    $("#contest-history").tablesorter({headers:{0: {sorter: false}, 1: {sorter: 'dayMonthYear'}, 6: {sorter: 'digit'}}, widgets: ['zebra']});    
        
    {% if ResultsWithPosition > 0 %}
    {% if Wins > 0 or TopSixNotWin > 0 %}
      var lPieData = [
        { label: "Wins", data: {{Wins}}, color: "#ffc600" },  
        { label: "Top Six", data: {{TopSixNotWin}}, color: "#99ccff" },
        { label: "Unplaced", data: {{Unplaced}}, color: "#316497" }
        ];
      $.plot($("#flot_pie"), lPieData,
      {
          series: {
            pie: {
              show: true,
              label: {
                formatter: function(label, series){
                  return '<div style="font-size:8pt;text-align:center;padding:2px;color:black;">'+label+'<br/>'+series.data[0][1]+" (" +Math.round(series.percent)+'%)</div>';
                }
              }
            }
          },
          legend: {
              show: false
          }
      });
    {% endif %}       
    {% endif %}   

    $('#toggleall').on('change', function(){
      var lToggleAll = $('#toggleall').prop('checked');
      $('.performanceCheckbox').prop('checked',lToggleAll);
    });

  });
  
function removeChecked(){
  $('#contest-history tbody tr').each(function(){
    $this = $(this);
    var lCheckbox = $this.find("input.performanceCheckbox");
    var lResultId = lCheckbox.prop('id').substring(1);
    var lChecked = lCheckbox.prop('checked');
    if (lChecked) {
        $this.css("background-color","#FF3700");
        $this.fadeOut(400, function(){
              $this.remove();
              $.get('/users/{{user.username}}/contesthistory/'+lResultId+'/remove_contest/');
          });
    }
  });
}

function setFirstPositionAndRecurse(pList){
  var lFirstOne = pList.first();
  var lRestOfList = pList.slice(1);
  
  var lPlayerPositionSerial = $('#positionDropList').val();
  var lPlayerPositionName = $("#positionDropList option:selected").text();
  
  var lCheckbox = lFirstOne.find("input.performanceCheckbox");
  
  var lResultId = lCheckbox.prop('id').substring(1);
  var lChecked = lCheckbox.prop('checked');
  if (lChecked) {
      $.get('/users/{{user.username}}/contesthistory/'+lResultId+'/set_position/' + lPlayerPositionSerial + '/', function(){
        lFirstOne.find('#position-' + lResultId).html(lPlayerPositionName);
        setFirstPositionAndRecurse(lRestOfList);
      });
  } else {
    setFirstPositionAndRecurse(lRestOfList);
  }
}

function setPosition(){
  setFirstPositionAndRecurse($('#contest-history tbody tr'));
}
</script>
{% endblock %}
