{% extends "template.html" %}
{% load i18n %}

{% block title %}{% trans "Change Password"%}{% endblock %}

{% block content %}
<div class="container pt-1">
<h1>{% trans 'Change Password'%}</h1>
<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
<form action="" method="post">{% csrf_token %}
{% if form.errors %}
    <p class="errornote">Please correct the errors below.</p>
{% endif %}

<table>
<tr>
    <td>{{ form.old_password.errors }}<label for="id_old_password" class="required">{% trans 'Old password' %}:</label></td><td>{{ form.old_password }}</td>
</tr>

<tr>
    <td>{{ form.new_password1.errors }}<label for="id_new_password1" class="required">{% trans 'New password' %}:</label></td><td>{{ form.new_password1 }}</td>
</tr>

<tr>
    <td>{{ form.new_password2.errors }}<label for="id_new_password2" class="required">{% trans 'Password (again)' %}:</label></td><td>{{ form.new_password2 }}</td>
</tr>
<tr><td></td><td><input type="submit" value="Change Password"/></td></tr>
</table>
</form>
</div>
{% endblock %}

{% block scriptfooter %}
<script type="text/javascript">
  $(document).ready(function(){
    $("input:text:first").focus();
  });
</script>
{% endblock %}