<div id="composer-tab">
<h2 class="printonly">Compositions</h2>
<table id="pieces" class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Composer</th>
      <th>Arranger</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
{% for piece in Pieces %}
    <tr>
      <td class="testpiece"><a href="/pieces/{{piece.slug}}/">{{piece.name}}</a></td>
{% if Composer.name == piece.composer.name %}
      <td class="composer">{{piece.composer.name}}</td>
{% else %}      
      <td class="composer"><a href="/composers/{{piece.composer.slug}}/">{{piece.composer.name}}</a></td>
{% endif %}
{% if Composer.name == piece.arranger.name %}
      <td class="composer">{{piece.arranger.name}}</td>
{% else %}      
      <td class="composer"><a href="/composers/{{piece.arranger.slug}}/">{{piece.arranger.name}}</a></td>
{% endif %}
	  <td>{{piece.year}}</td>  
    </tr>
{% endfor %}
    </tbody>
</table>
</div> <!-- composer-tab -->