{% extends "template.html" %}

{%block title %}Brass Bands Map{% endblock %}

{%block keywords %}Map{% endblock %}

{%block description %}Brass Bands Map{% endblock %}

{%block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script>
{% endblock %}

{% block content %}
<div class="container pt-1">
<h1>Brass Band Map</h1>
<p>This map is intended to give a general indication of where a band rehearses.  Please contact the band directly to obtain full directions.</p>
<div id="mapid" style="width: 100%; height: 500px"></div>
<p>
  <input type="checkbox" checked="checked" id="championship"> Championship
  <input type="checkbox" id="first"> First
  <input type="checkbox" id="second"> Second
  <input type="checkbox" id="third"> Third
  <input type="checkbox" id="fourth"> Fourth
  <input type="checkbox" id="fifth"> Fifth
  <input type="checkbox" id="elite"> Elite
  <input type="checkbox" id="excellence"> Excellence
  <input type="checkbox" id="a"> A
  <input type="checkbox" id="b"> B
  <input type="checkbox" id="c"> C
  <input type="checkbox" id="d"> D
</p>
<p>
  <input type="checkbox" id="youth"> Youth
  <input type="checkbox" id="noncompeting"> Non Competing
  <input type="checkbox" id="sa"> Salvation Army
  <input type="checkbox" id="extinct"> Extinct (slow)
<!--  <input type="checkbox" id="venues"> Venues -->
</p>
</div>
{% endblock %}

{%block scriptfooter%}
<script>
  function buildIcons() {
    let icons = new Map();
    icons.set('Championship', L.icon({iconUrl: '/site_media/map/championship.png'}));
    icons.set('First', L.icon({iconUrl: '/site_media/map/first.png'}));
    icons.set('Second', L.icon({iconUrl: '/site_media/map/second.png'}));
    icons.set('Third', L.icon({iconUrl: '/site_media/map/third.png'}));
    icons.set('Fourth', L.icon({iconUrl: '/site_media/map/fourth.png'}));
    icons.set('Fifth', L.icon({iconUrl: '/site_media/map/fifth.png'}));
    icons.set('Elite', L.icon({iconUrl: '/site_media/map/elite.png'}));
    icons.set('Excellence', L.icon({iconUrl: '/site_media/map/excellence.png'}));
    icons.set('Band', L.icon({iconUrl: '/site_media/map/band.png'}));
    icons.set('Extinct', L.icon({iconUrl: '/site_media/map/extinct.png'}));
    icons.set('Youth', L.icon({iconUrl: '/site_media/map/youth.png'}));
    icons.set('Non_competing', L.icon({iconUrl: '/site_media/map/non_competing.png'}));
    icons.set('SA', L.icon({iconUrl: '/site_media/map/sa.png'}));
    icons.set('A_grade', L.icon({iconUrl: '/site_media/map/a_grade.png'}));
    icons.set('B_grade', L.icon({iconUrl: '/site_media/map/b_grade.png'}));
    icons.set('C_grade', L.icon({iconUrl: '/site_media/map/c_grade.png'}));
    icons.set('D_grade', L.icon({iconUrl: '/site_media/map/d_grade.png'}));
    icons.set('Venues', L.icon({iconUrl: '/site_media/map/venue.png'}));

    return icons;
  }

  var bandmap = L.map('mapid').setView([53.800,-1.454], 8);
  var icon_markers = buildIcons();
  var layers = new Map();

  function onEachFeature(feature, layer) {
    layer.bindPopup('<b>' + feature.properties.name + '</b><br/><br/>[<a href="/bands/' + feature.properties.slug + '/">More Details</a>]');
  }

  function toggleLayer(type, layerName){
    var key = type + "_" + layerName
    var layer = layers.get(key);
    if (layer === undefined) {
      $.ajax({
        dataType: "json",
        url: '/map2/' + type + '/' + layerName + '.json',
        success: function(data) {
          var layer = L.geoJson(data, {
            onEachFeature: onEachFeature,
            pointToLayer: function (feature, latlng) {
              return L.marker(latlng, {
                  icon: icon_markers.get(layerName)
              });
            }
          }).addTo(bandmap);
          layers.set(key, layer);
        }
      });
    }
    else {
      layer.remove();
      layers.delete(key);
    }
  }


  function toggle(layerName){
    switch(layerName) {
      case 'Championship':
      case 'First':
      case 'Second':
      case 'Third':
      case 'Fourth':
      case 'Fifth':
      case 'Elite':
      case 'Excellence':
      case 'A_grade':
      case 'B_grade':
      case 'C_grade':
      case 'D_grade':
        toggleLayer('section', layerName);
        break;
      case 'Extinct':
      case 'Non_competing':
      case 'Youth':
      case 'SA':
        toggleLayer('status', layerName);
        break;
      case 'Venues':
        toggleLayer('venues', layerName);
        break;
    }
  }

  function initMap(){
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
    }).addTo(bandmap);

    L.control.scale().addTo(bandmap);

    toggle("Championship");
  }

  function initClickListeners(){
    $('#championship').click(function(){ toggle("Championship"); });
    $('#first').click(function(){ toggle("First"); });
    $('#second').click(function(){ toggle("Second"); });
    $('#third').click(function(){ toggle("Third"); });
    $('#fourth').click(function(){ toggle("Fourth"); });
    $('#fifth').click(function(){ toggle("Fifth"); });
    $('#elite').click(function(){ toggle("Elite"); });
    $('#excellence').click(function(){ toggle("Excellence"); });
    $('#a').click(function(){ toggle("A_grade"); });
    $('#b').click(function(){ toggle("B_grade"); });
    $('#c').click(function(){ toggle("C_grade"); });
    $('#d').click(function(){ toggle("D_grade"); });

    $('#youth').click(function(){ toggle("Youth"); });
    $('#noncompeting').click(function(){ toggle("Non_competing"); });
    $('#sa').click(function(){ toggle("SA"); });

    $('#extinct').click(function(){ toggle("Extinct"); });
    $('#venues').click(function(){ toggle("Venues"); });
  }

  $(document).ready(function(){
    initMap();
    initClickListeners();
  });

</script>
{%endblock%}
