{% extends "template.html" %}

{%block title %}Brass Bands Map{% endblock %}

{%block keywords %}Map{% endblock %}

{%block description %}Brass Bands Map{% endblock %}

{%block head %}
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
 <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
{% endblock %}

{% block content %}
<div class="container pt-1">
<h1>Brass Band Map</h1>
<p>[<a href="/map/search/">Search The Map</a>]</p>
<p>This map is intended to give a general indication of where a band rehearses.  Please contact the band directly to obtain full directions.</p>
[<a href="#" id="clear_all">clear all</a>] [<a href="#" id="select_all">select all</a>]<br/>
<input type="checkbox" checked="checked" id="champ_checkbox">Championship/Elite
<input type="checkbox" checked="checked" id="first_checkbox">1
<input type="checkbox" checked="checked" id="second_checkbox">2
<input type="checkbox" checked="checked" id="third_checkbox">3
<input type="checkbox" checked="checked" id="fourth_checkbox">4
<input type="checkbox" checked="checked" id="fifth_checkbox">5
<input type="checkbox" checked="checked" id="youth_checkbox">Youth
<input type="checkbox" checked="checked" id="a_checkbox">A
<input type="checkbox" checked="checked" id="b_checkbox">B
<input type="checkbox" checked="checked" id="c_checkbox">C
<input type="checkbox" checked="checked" id="d_checkbox">D<br/>
<input type="checkbox" checked="checked" id="non_competing_checkbox">Non-competing
<input type="checkbox" checked="checked" id="sa_checkbox">Salvation Army
<input type="checkbox" id="extinct_checkbox"{% if ShowExtinct%} checked="checked"{%endif%}>Extinct
<input type="checkbox" checked="checked" id="others_checkbox">Others
</p> 
<div id="mapid" style="width: 100%; height: 500px"></div>
<p>[<a href="/map/addband/">My Band isn't on this map</a>] [<a href="/map/coordwrong/">My Band is in the wrong place</a>]</p>
</div>
{% endblock %}

{%block scriptfooter%}
<script>
  var bandmap = L.map('mapid').setView([51.505, -0.09], 13);

  function onEachFeature(feature, layer) {
    return;
  }

  var dataurl = '/map2/data/champ.json';
  $.getJSON(dataurl, function(events){
    L.geoJSON(events), {
      style: function(feature){
        return feature.properties && feature.properties.style;
      },
      onEachFeature: onEachFeature,
      pointToLayer: function(feature, latlng){
        return L.marker(latlng); 
      }
    }).addTo(bandmap);
  }


  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: '{{MapboxAccessToken}}'
}).addTo(bandmap);


</script>
{%endblock%}
