{% extends "template.html" %}

{%block title %}Brass Bands Map{% endblock %}

{%block keywords %}Map{% endblock %}

{%block head %}{% endblock %}

{%block bands-map-selected%}class="selected"{%endblock%}

{%block feedback %}{% endblock %}

{% block content %}
<div class="container pt-1">
<h1>Move Band On Map</h1>
<p>Please select your band from this list:</p>
<form action="." method="post">{% csrf_token %}
<select name="band">
{% for band in Bands %}
  <option value="{{band.slug}}">{{band.name}}</option>
{% endfor %}
</select>
<input type="Submit" value="This Is My Band"></input>
</form>
</div>
{% endblock %}