{% extends "template.html" %}

{% block title %}Band Merge Requests{% endblock %}

{%block description%}Band Merge Requests{%endblock%}

{% block head %}
<script type="text/javascript">
  function reject_merge(pMergeRequestSerial)
  {
  $('<div id="blanket"></div><div id="popup">Loading...</div>').appendTo('#content');
    $('#blanket').bind('click', function(){
      $('#popup').remove();
      $('#blanket').remove();
    });
    var lLeft = 50;
    var lTop = 50;
    var lInputDialog = '<h1>Rejection Reason (send to original submitter)</h1><textarea name="extra" id="reason-text" cols="100" rows="12"></textarea><input type="submit" value="Reject" id="submit-rejection"/>';
    $('#popup').css('top',lTop).css('left',lLeft).html(lInputDialog);
    $('#submit-rejection').click(function(){
      $('#mergeRequestRow-' + pMergeRequestSerial).html('<td>Processing...</td>');
      var lUrl = "/move/bands/reject_merge/" + pMergeRequestSerial + "/";
      var lExtraInfo = $('#reason-text').val()
      $.post(lUrl, {'reason' : lExtraInfo}, function(){
        $('#mergeRequestRow-' + pMergeRequestSerial).html('<td>Rejected</td>');
      });
      $('#blanket').click();
    });
  }
</script>
{% endblock %}

{% block content %}
<div class="container pt-1">
<h1>Band Merge Requests</h1>
<table class="table table-hover">
{% for mergeRequest in MergeRequests %}
  <tr id="mergeRequestRow-{{mergeRequest.id}}">
    <td>
      <table class="table table-hover">
        <tr><td>From: <a href="/users/{{mergeRequest.owner}}/">{{mergeRequest.owner}}</a></td><th>To Delete</th><th>Destination</th></tr>
        <tr><th>Name:</th><td><a href="/bands/{{mergeRequest.source_band.slug}}/">{{mergeRequest.source_band.name}}</a></td><td><a href="/bands/{{mergeRequest.destination_band.slug}}/">{{mergeRequest.destination_band.name}}</a></td></tr>
        <tr><th>Website:</th><td>{{mergeRequest.source_band.website_url}}</td><td>{{mergeRequest.destination_band.website_url}}</td></tr>
        <tr><th>Twitter:</th><td>{{mergeRequest.source_band.twitter_name}}</td><td>{{mergeRequest.destination_band.twitter_name}}</td></tr>
        <tr><th>Region:</th><td>{{mergeRequest.source_band.region.name}}</td><td>{{mergeRequest.destination_band.region.name}}</td></tr>
        <tr><th>Postcode:</th><td>{{mergeRequest.source_band.postcode}}</td><td>{{mergeRequest.destination_band.postcode}}</td></tr>
        <tr><th>Latitude:</th><td>{{mergeRequest.source_band.latitude}}</td><td>{{mergeRequest.destination_band.latitude}}</td></tr>
        <tr><th>Longitude:</th><td>{{mergeRequest.source_band.longitude}}</td><td>{{mergeRequest.destination_band.longitude}}</td></tr>
        <tr><th>Rehearsal Night 1:</th><td>{{mergeRequest.source_band.rehearsal_night_1}}</td><td>{{mergeRequest.destination_band.rehearsal_night_1}}</td></tr>
        <tr><th>Rehearsal Night 2:</th><td>{{mergeRequest.source_band.rehearsal_night_2}}</td><td>{{mergeRequest.destination_band.rehearsal_night_2}}</td></tr>
        <tr><th>Contact Email:</th><td>{{mergeRequest.source_band.contact_email}}</td><td>{{mergeRequest.destination_band.contact_email}}</td></tr>
        <tr><th>First Parent:</th><td>{{mergeRequest.source_band.first_parent.name}}</td><td>{{mergeRequest.destination_band.first_parent.name}}</td></tr>
        <tr><th>Second Parent:</th><td>{{mergeRequest.source_band.second_parent.name}}</td><td>{{mergeRequest.destination_band.second_parent.name}}</td></tr>
        <tr><th>Start Date:</th><td>{{mergeRequest.source_band.start_date}}</td><td>{{mergeRequest.destination_band.start_date}}</td></tr>
        <tr><th>End Date:</th><td>{{mergeRequest.source_band.end_date}}</td><td>{{mergeRequest.destination_band.end_date}}</td></tr>
        <tr><th>Section:</th><td>{{mergeRequest.source_band.section.name}}</td><td>{{mergeRequest.destination_band.section.name}}</td></tr>
        <tr><th>Status:</th><td>{{mergeRequest.source_band.status}}</td><td>{{mergeRequest.destination_band.status}}</td></tr>
        <tr><th>Results:</th><td>{{mergeRequest.source_band.contestresult_set.count}}</td><td>{{mergeRequest.destination_band.contestresult_set.count}}</td></tr>
        <tr><th>Notes:</th><td>{% if mergeRequest.source_band.notes %}{{mergeRequest.source_band.notes}}{% endif %}</td><td>{% if mergeRequest.destination_band.notes %}{{mergeRequest.destination_band.notes}}{% endif %}</td></tr>
      </table>
    </td>
    <td>
      &nbsp;[<a href="/move/bands/merge/{{mergeRequest.id}}/">merge&nbsp;now</a>]<br/><br/><br/>
      
      &nbsp;[<a href="#" onclick="reject_merge({{mergeRequest.id}});">reject</a>]
    </td>
  </tr>
{% empty %}
  <tr><td>None Outstanding</td></tr>
{% endfor %}
</table>
</div>
{% endblock %}
