{% extends "template.html" %}

{%block title %}Brass Bands Map{% endblock %}

{%block keywords %}Map{% endblock %}

{%block description %}Brass Bands Map{% endblock %}

{%block bands-map-selected%}{% if not VacanciesOnly %}class="selected"{%endif%}{%endblock%}
{%block bands-mapvacancies-selected%}{% if VacanciesOnly %}class="selected"{%endif%}{%endblock%}

{%block head %}
<script type="text/javascript" src="https://maps.google.com/maps/api/js?v=3.25&key={{GoogleMapsKey}}"></script>
<script type="text/javascript" src="{{ STATIC_URL }}infobubble-compiled.js"></script>
<!-- <script type="text/javascript" src="{{ STATIC_URL }}infobubble.js"></script> -->
<script type="text/javascript" src="/map/map_script.js?type=venues"></script>
{% endblock %}

{% block bodyattrib %}onload="initialize();processCheckboxes();"{% endblock %}

{% block content %}
<h1>Brass Band Map</h1>
<p>[<a href="/map/search/">Search The Map</a>]</p>
<p>This map is intended to give a general indication of where a band rehearses.  Please contact the band directly to obtain full directions.</p>
<!--[if IE]> 
<p><font color="red">The map doesn't work in older versions of Internet Explorer, please upgrade to IE8 or later.</font></p>
<![endif]-->
<p>
[<a href="#" id="clear_all">clear all</a>] [<a href="#" id="select_all">select all</a>]<br/>
<input type="checkbox" id="champ_checkbox">Championship/Elite
<input type="checkbox" id="first_checkbox">1
<input type="checkbox" id="second_checkbox">2
<input type="checkbox" id="third_checkbox">3
<input type="checkbox" id="fourth_checkbox">4
<input type="checkbox" id="fifth_checkbox">5
<input type="checkbox" id="youth_checkbox">Youth
<input type="checkbox" id="a_checkbox">A
<input type="checkbox" id="b_checkbox">B
<input type="checkbox" id="c_checkbox">C
<input type="checkbox" id="d_checkbox">D<br/>
<input type="checkbox" id="non_competing_checkbox">Non-competing
<input type="checkbox" id="sa_checkbox">Salvation Army
<input type="checkbox" id="extinct_checkbox">Extinct
<input type="checkbox" id="others_checkbox">Others
<input type="checkbox" id="venues_checkbox" checked="checked">Venues
</p> 
<div id="map_canvas" style="width: 100%; height: 500px"></div>
{% endblock %}

{%block scriptfooter%}
<script type="text/javascript">
$('#venues_checkbox').click(function(){
	var lChecked = $('#venues_checkbox').prop('checked');
	toggle_venue_markers(lChecked);
});

function toggle_venue_markers(pChecked) {
	for (var i=0; i<lVenueDetails.length; i++){
    	if (lVenueDetails[i]) {
    		var lMarker = lVenueDetails[i].marker 
	   		lMarker.setVisible(pChecked);
    	}
  	}	
}

function toggle_section_markers(pChecked, pSectionName) {
	for (var i=0; i<lBandDetails.length; i++){
   		if (lBandDetails[i] && lBandDetails[i].section === pSectionName){
  			var lMarker = lBandDetails[i].marker 
	   		lMarker.setVisible(pChecked);
   		}
  	}
}

function processCheckboxes() {
	toggle_section_markers($('#champ_checkbox').prop('checked'), 'championship'); 
	toggle_section_markers($('#champ_checkbox').prop('checked'), 'elite'); 
	toggle_section_markers($('#champ_checkbox').prop('checked'), 'excellence');
	toggle_section_markers($('#first_checkbox').prop('checked'), 'first'); 
	toggle_section_markers($('#second_checkbox').prop('checked'), 'second');
	toggle_section_markers($('#third_checkbox').prop('checked'), 'third'); 
	toggle_section_markers($('#fourth_checkbox').prop('checked'), 'fourth'); 
	toggle_section_markers($('#fifth_checkbox').prop('checked'), 'fifth'); 
	toggle_section_markers($('#youth_checkbox').prop('checked'), 'youth');
	toggle_section_markers($('#a_checkbox').prop('checked'), 'a_grade'); 
    toggle_section_markers($('#b_checkbox').prop('checked'), 'b_grade');
    toggle_section_markers($('#c_checkbox').prop('checked'), 'c_grade'); 
    toggle_section_markers($('#d_checkbox').prop('checked'), 'd_grade'); 
    toggle_section_markers($('#non_competing_checkbox').prop('checked'), 'non_competing');
	toggle_section_markers($('#sa_checkbox').prop('checked'), 'sa');
	toggle_section_markers($('#extinct_checkbox').prop('checked'), 'extinct');
	toggle_section_markers($('#others_checkbox').prop('checked'), 'band');
	toggle_venue_markers($('#venues_checkbox').prop('checked'));
}

$('#clear_all').click(function(){
	$('#champ_checkbox').prop('checked', '');
	$('#first_checkbox').prop('checked', '');
	$('#second_checkbox').prop('checked', '');
	$('#third_checkbox').prop('checked', '');
	$('#fourth_checkbox').prop('checked', '');
	$('#fifth_checkbox').prop('checked', '');
	$('#youth_checkbox').prop('checked', '');
	$('#a_checkbox').prop('checked', '');
    $('#b_checkbox').prop('checked', '');
    $('#c_checkbox').prop('checked', '');
    $('#d_checkbox').prop('checked', '');
    $('#non_competing_checkbox').prop('checked', '');
	$('#sa_checkbox').prop('checked', '');
	$('#extinct_checkbox').prop('checked', '');
	$('#others_checkbox').prop('checked', '');
	$('#venues_checkbox').prop('checked', '');
	processCheckboxes();
	return false; 
});

$('#select_all').click(function(){
	$('#champ_checkbox').prop('checked', 'checked');
	$('#first_checkbox').prop('checked', 'checked');
	$('#second_checkbox').prop('checked', 'checked');
	$('#third_checkbox').prop('checked', 'checked');
	$('#fourth_checkbox').prop('checked', 'checked');
	$('#fifth_checkbox').prop('checked', 'checked');
	$('#youth_checkbox').prop('checked', 'checked');
	$('#a_checkbox').prop('checked', 'checked');
    $('#b_checkbox').prop('checked', 'checked');
    $('#c_checkbox').prop('checked', 'checked');
    $('#d_checkbox').prop('checked', 'checked');
	$('#non_competing_checkbox').prop('checked', 'checked');
	$('#sa_checkbox').prop('checked', 'checked');
	$('#extinct_checkbox').prop('checked', 'checked');
	$('#others_checkbox').prop('checked', 'checked');
	$('#venues_checkbox').prop('checked', 'checked');
	processCheckboxes();
	return false; 
});


$('#champ_checkbox').click(function(){ processCheckboxes(); });
$('#first_checkbox').click(function(){ processCheckboxes(); });
$('#second_checkbox').click(function(){ processCheckboxes(); });
$('#third_checkbox').click(function(){ processCheckboxes(); });
$('#fourth_checkbox').click(function(){ processCheckboxes(); });
$('#fifth_checkbox').click(function(){ processCheckboxes(); });
$('#youth_checkbox').click(function(){ processCheckboxes(); });
$('#a_checkbox').click(function(){ processCheckboxes(); });
$('#b_checkbox').click(function(){ processCheckboxes(); });
$('#c_checkbox').click(function(){ processCheckboxes(); });
$('#d_checkbox').click(function(){ processCheckboxes(); });
$('#non_competing_checkbox').click(function(){ processCheckboxes(); });
$('#sa_checkbox').click(function(){ processCheckboxes(); });
$('#extinct_checkbox').click(function(){ processCheckboxes(); });
$('#others_checkbox').click(function(){ processCheckboxes(); });
</script>
{%endblock%}